/*main-colors*/
/*main-section*/
/*burger-colors*/
/*sellers*/
/*fonts*/
/*orbitron*/
@font-face {
  font-display: swap;
  font-family: "Orbitron";
  font-weight: 600;
  src: url("../fonts/orbitron-v31-latin-600.woff2") format("woff2"), url("../fonts/orbitron-v31-latin-600.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Orbitron";
  font-weight: 700;
  src: url("../fonts/orbitron-v31-latin-700.woff2") format("woff2"), url("../fonts/orbitron-v31-latin-700.woff") format("woff");
}
/* rajdhani */
@font-face {
  font-display: swap;
  font-family: "Rajdhani";
  font-weight: 400;
  src: url("../fonts/rajdhani-v15-latin-regular.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Rajdhani";
  font-weight: 500;
  src: url("../fonts/rajdhani-v15-latin-500.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Rajdhani";
  font-weight: 600;
  src: url("../fonts/rajdhani-v15-latin-600.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-600.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Rajdhani";
  font-weight: 700;
  src: url("../fonts/rajdhani-v15-latin-700.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-700.woff") format("woff");
}
/* aldrich*/
@font-face {
  font-display: swap;
  font-family: "Aldrich";
  font-weight: 400;
  src: url("../fonts/aldrich-v21-latin-regular.woff2") format("woff2"), url("../fonts/aldrich-v21-latin-regular.woff") format("woff");
}
/* inter*/
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2"), url("../fonts/inter-v13-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-weight: 500;
  src: url("../fonts/inter-v13-latin-500.woff2") format("woff2"), url("../fonts/inter-v13-latin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-weight: 800;
  src: url("../fonts/inter-v13-latin-800.woff2") format("woff2"), url("../fonts/inter-v13-latin-800.woff") format("woff");
}
/* roboto */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
}
/*Alethia Next*/
@font-face {
  font-display: swap;
  font-family: "Alethia Next";
  font-weight: 300;
  src: url("../fonts/alethianext-light-webfont.woff2") format("woff2"), url("../fonts/alethianext-light-webfont.woff") format("woff");
}
/* lato */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2"), url("../fonts/lato-v24-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2"), url("../fonts/lato-v24-latin-700.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "MuseoModerno";
  font-weight: 400;
  src: url("../fonts/museomoderno-v27-latin-regular.woff2") format("woff2"), url("../fonts/museomoderno-v27-latin-regular.woff2") format("woff");
}
.header__section {
  margin: 49px 0 0 8px;
}
.header__items {
  margin-left: 229px;
  gap: 66px;
}
.header__mobile-logo {
  width: 130px;
}
.header__item {
  font-size: 20px;
  font-weight: 700;
  font-family: "Orbitron";
  opacity: 0.6;
  transition: all 0.5s ease;
}
.header__items-svg {
  margin-left: 450px;
  gap: 41px;
}
.header__item:hover {
  opacity: 1;
  text-shadow: -5px -5px 23px rgb(255, 105, 247), 5px -5px 25px rgb(255, 105, 247), -5px 5px 25px rgb(255, 105, 247), 5px 5px 25px rgb(255, 105, 247);
}

@media (max-width: 1440px) {
  .header__section {
    justify-content: space-between;
  }
  .header__logo {
    margin-left: 0px;
  }
  .header__items {
    margin-left: 0px;
  }
  .header__items-svg {
    margin-left: 0px;
    gap: 40px;
  }
}
@media (max-width: 1240px) {
  .header__section {
    width: 660px;
  }
  .header__section {
    margin: 42px 0 0 0px;
  }
}
@media (max-width: 767px) {
  .header__section {
    margin: 22px 0 0 0;
    width: 100%;
  }
  .header__mobile-logo {
    width: 112px;
  }
}
.burger-menu {
  display: none;
}
.burger-menu__background {
  position: fixed;
  width: 1240px;
  height: 100%;
  top: 0;
  left: -1240px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.burger-menu__body-background {
  position: fixed;
  top: 0;
  left: -390px;
  background-color: #161516;
  height: 100%;
  z-index: 1;
  transition: left 0.8s ease-out;
}
.burger-menu__background_active {
  opacity: 1;
  left: 0;
}
.burger-menu__body-background_active {
  left: 0;
}
.burger-menu_active .burger-menu__icon span:nth-child(1) {
  transform: rotate(-45deg) translate(-8.6px, 5px);
  width: 21px;
}
.burger-menu_active .burger-menu__icon span:nth-child(2) {
  opacity: 0;
}
.burger-menu_active .burger-menu__icon span:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -5px);
  width: 21px;
}
.burger-menu__header {
  background-color: #020202;
  height: 140px;
  z-index: 1;
}
.burger-menu__logo {
  width: 150px;
  margin: 50px 0 0 70px;
}
.burger-menu__items-block {
  height: 68%;
  overflow: scroll;
}
.burger-menu__items-block::-webkit-scrollbar {
  display: none;
}
.burger-menu__items {
  gap: 30px;
}
.burger-menu__horizontal-line {
  width: 390px;
  height: 2px;
  background: linear-gradient(90deg, #3c79d4 0%, #858ae2 14%, #ffa6fa 69%);
}
.burger-menu__item {
  padding: 0 40px;
}
.burger-menu__icon {
  cursor: pointer;
  width: 25px;
  height: 22px;
  position: absolute;
  z-index: 2;
}
.burger-menu__icon span:nth-child(1) {
  width: 22px;
  height: 3px;
  border-radius: 2px;
  background: #FFFFFF;
  transition: 0.3s;
}
.burger-menu__icon span:nth-child(2) {
  margin-left: 8px;
  width: 14px;
  height: 3px;
  border-radius: 2px;
  background: #FFFFFF;
  transition: 0.3s;
}
.burger-menu__icon span:nth-child(3) {
  width: 22px;
  height: 3px;
  border-radius: 2px;
  background: #FFFFFF;
  transition: 0.3s;
}

.look {
  overflow: hidden;
}

@media (max-width: 1240px) {
  .burger-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  .burger-menu__header {
    height: 80px;
  }
  .burger-menu__horizontal-line {
    width: 260px;
  }
  .burger-menu__items-block {
    height: 78%;
  }
  .burger-menu__logo {
    width: 120px;
    margin: 25px 0 0 45px;
  }
  .burger-menu__icon {
    width: 22px;
    top: 5px;
  }
  .burger-menu_active .nav.header-link-list {
    width: 260px;
  }
}
.main-page__container {
  position: relative;
}
.main-page__blur-element-1 {
  position: absolute;
  width: 1px;
  top: 610px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0px 5px 187px 50px #FF00C8;
  z-index: -2;
}
.main-page__blur-element-2 {
  position: absolute;
  width: 1px;
  top: 420px;
  left: 630px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0px 0px 117px 25px #FFB1EE;
  z-index: -2;
}
.main-page__background-element {
  position: absolute;
  top: 425px;
  left: 730px;
  z-index: -2;
}
.main-page .main-text-section__title {
  margin-top: 107px;
  width: 760px;
  font-size: 66px;
  font-weight: 600;
  line-height: 139%;
  font-family: "Spartan";
}
.main-page .main-text-section__gradient {
  background: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-page .main-text-section__text {
  width: 700px;
  margin-top: 17px;
  font-size: 27px;
  font-weight: 400;
  line-height: 167%;
}
.main-page .main-text-section__button-section {
  margin-top: 40px;
}
.main-page .main-text-section__button-box {
  position: absolute;
  margin-left: 40px;
  width: 190px;
  height: 50px;
  box-shadow: 0px 5px 117px 0px #FF56F6;
}
.main-page .main-text-section__button-border {
  padding: 2px;
  clip-path: polygon(99.934% 3.401%, 99.934% 3.401%, 99.922% 2.85%, 99.889% 2.326%, 99.835% 1.838%, 99.763% 1.393%, 99.675% 0.996%, 99.571% 0.656%, 99.456% 0.38%, 99.329% 0.173%, 99.193% 0.045%, 99.049% 0%, 16.971% 0%, 16.971% 0%, 16.932% 0.003%, 16.893% 0.013%, 16.854% 0.03%, 16.816% 0.053%, 16.777% 0.083%, 16.739% 0.119%, 16.702% 0.162%, 16.665% 0.211%, 16.629% 0.266%, 16.593% 0.328%, 0.506% 29.649%, 0.506% 29.649%, 0.416% 29.836%, 0.334% 30.058%, 0.26% 30.312%, 0.194% 30.595%, 0.137% 30.904%, 0.089% 31.235%, 0.051% 31.585%, 0.023% 31.952%, 0.006% 32.332%, 0% 32.723%, 0% 95.24%, 0% 95.24%, 0.012% 95.791%, 0.045% 96.315%, 0.099% 96.803%, 0.171% 97.248%, 0.259% 97.645%, 0.362% 97.985%, 0.478% 98.261%, 0.605% 98.468%, 0.741% 98.596%, 0.884% 98.641%, 85.948% 98.641%, 85.948% 98.641%, 85.989% 98.637%, 86.029% 98.627%, 86.069% 98.609%, 86.108% 98.585%, 86.148% 98.554%, 86.186% 98.515%, 86.225% 98.471%, 86.263% 98.419%, 86.3% 98.361%, 86.336% 98.296%, 99.437% 73.682%, 99.437% 73.682%, 99.525% 73.493%, 99.605% 73.27%, 99.678% 73.016%, 99.743% 72.734%, 99.799% 72.427%, 99.846% 72.099%, 99.884% 71.751%, 99.911% 71.388%, 99.928% 71.012%, 99.934% 70.626%, 99.934% 3.401%);
  background: linear-gradient(90deg, #FFA6FA 0%, #3C79D4 100%);
  border-radius: 4px;
}
.main-page .main-text-section__fill {
  font-size: 20px;
  padding: 17px 32px 17px 67px;
  background: linear-gradient(90deg, #3BACE2 0%, #7764FC 29%, #B936EE 48%, #FF56F6 70%);
  clip-path: polygon(99.934% 3.401%, 99.934% 3.401%, 99.922% 2.85%, 99.889% 2.326%, 99.835% 1.838%, 99.763% 1.393%, 99.675% 0.996%, 99.571% 0.656%, 99.456% 0.38%, 99.329% 0.173%, 99.193% 0.045%, 99.049% 0%, 16.971% 0%, 16.971% 0%, 16.932% 0.003%, 16.893% 0.013%, 16.854% 0.03%, 16.816% 0.053%, 16.777% 0.083%, 16.739% 0.119%, 16.702% 0.162%, 16.665% 0.211%, 16.629% 0.266%, 16.593% 0.328%, 0.506% 29.649%, 0.506% 29.649%, 0.416% 29.836%, 0.334% 30.058%, 0.26% 30.312%, 0.194% 30.595%, 0.137% 30.904%, 0.089% 31.235%, 0.051% 31.585%, 0.023% 31.952%, 0.006% 32.332%, 0% 32.723%, 0% 95.24%, 0% 95.24%, 0.012% 95.791%, 0.045% 96.315%, 0.099% 96.803%, 0.171% 97.248%, 0.259% 97.645%, 0.362% 97.985%, 0.478% 98.261%, 0.605% 98.468%, 0.741% 98.596%, 0.884% 98.641%, 85.948% 98.641%, 85.948% 98.641%, 85.989% 98.637%, 86.029% 98.627%, 86.069% 98.609%, 86.108% 98.585%, 86.148% 98.554%, 86.186% 98.515%, 86.225% 98.471%, 86.263% 98.419%, 86.3% 98.361%, 86.336% 98.296%, 99.437% 73.682%, 99.437% 73.682%, 99.525% 73.493%, 99.605% 73.27%, 99.678% 73.016%, 99.743% 72.734%, 99.799% 72.427%, 99.846% 72.099%, 99.884% 71.751%, 99.911% 71.388%, 99.928% 71.012%, 99.934% 70.626%, 99.934% 3.401%);
}
.main-page .main-text-section__arrow {
  margin-left: 5px;
}
.main-page .main-text-section__button-text {
  margin-left: 35px;
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-page .main-text-section__score {
  max-width: 480px;
  margin-top: 65px;
}
.main-page .main-text-section__score-number {
  font-size: 40px;
  line-height: 133%;
  font-family: "Aldrich";
}
.main-page .main-text-section__score-text {
  font-size: 15px;
  line-height: 17px;
  font-family: "Alethia Next";
}
.main-page .main-text-section__vertical-line {
  width: 2px;
  height: 63px;
  background-color: #FFFFFF;
  opacity: 26%;
}
.main-page .main-img-section__blur-img {
  position: absolute;
  width: 200px;
  height: 370px;
  border-radius: 3px;
  top: 160px;
  left: 165px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0px 5px 5px 25px rgba(0, 0, 0, 0.5);
  z-index: -2;
}
.main-page .main-img-section__img {
  width: 402px;
  height: 477px;
  clip-path: polygon(0% 96.159%, 0% 15.171%, 0% 15.171%, 0.021% 14.807%, 0.084% 14.45%, 0.188% 14.102%, 0.33% 13.766%, 0.509% 13.443%, 0.725% 13.136%, 0.975% 12.848%, 1.259% 12.58%, 1.574% 12.335%, 1.919% 12.115%, 21.901% 0.644%, 21.901% 0.644%, 22.124% 0.524%, 22.355% 0.416%, 22.592% 0.32%, 22.835% 0.236%, 23.083% 0.165%, 23.337% 0.106%, 23.594% 0.06%, 23.854% 0.027%, 24.117% 0.007%, 24.382% 0%, 95.421% 0%, 95.421% 0%, 96.135% 0.048%, 96.812% 0.189%, 97.443% 0.413%, 98.02% 0.714%, 98.533% 1.084%, 98.972% 1.515%, 99.33% 2%, 99.597% 2.531%, 99.764% 3.1%, 99.821% 3.7%, 99.821% 87.348%, 99.821% 87.348%, 99.802% 87.697%, 99.744% 88.04%, 99.648% 88.375%, 99.517% 88.7%, 99.351% 89.013%, 99.151% 89.311%, 98.918% 89.593%, 98.655% 89.857%, 98.361% 90.101%, 98.039% 90.322%, 83.885% 99.133%, 83.885% 99.133%, 83.653% 99.268%, 83.412% 99.39%, 83.164% 99.498%, 82.908% 99.592%, 82.645% 99.673%, 82.378% 99.739%, 82.105% 99.791%, 81.829% 99.829%, 81.549% 99.851%, 81.267% 99.859%, 4.4% 99.859%, 4.4% 99.859%, 3.686% 99.811%, 3.009% 99.67%, 2.378% 99.446%, 1.801% 99.145%, 1.289% 98.775%, 0.849% 98.344%, 0.491% 97.859%, 0.224% 97.328%, 0.058% 96.759%, 0% 96.159%);
  margin: 80px 0 0 130px;
}
.main-page .main-img-section__border-information {
  padding: 2px;
  background: rgba(255, 255, 255, 0.281);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  clip-path: polygon(99.721% 74.86%, 99.721% 94.754%, 99.721% 94.754%, 99.687% 95.542%, 99.587% 96.29%, 99.428% 96.987%, 99.215% 97.623%, 98.952% 98.19%, 98.647% 98.675%, 98.303% 99.07%, 97.926% 99.365%, 97.522% 99.549%, 97.097% 99.613%, 2.624% 99.613%, 2.624% 99.613%, 2.199% 99.549%, 1.795% 99.365%, 1.418% 99.07%, 1.074% 98.675%, 0.769% 98.19%, 0.506% 97.623%, 0.293% 96.987%, 0.134% 96.29%, 0.034% 95.542%, 0% 94.754%, 0% 27.075%, 0% 27.075%, 0.008% 26.689%, 0.033% 26.308%, 0.074% 25.933%, 0.13% 25.566%, 0.201% 25.209%, 0.288% 24.864%, 0.388% 24.531%, 0.503% 24.214%, 0.632% 23.912%, 0.774% 23.629%, 12.846% 1.413%, 12.846% 1.413%, 12.998% 1.153%, 13.16% 0.918%, 13.331% 0.709%, 13.51% 0.525%, 13.695% 0.367%, 13.886% 0.237%, 14.083% 0.134%, 14.284% 0.06%, 14.489% 0.015%, 14.696% 0%, 97.097% 0%, 97.097% 0%, 97.522% 0.064%, 97.926% 0.248%, 98.303% 0.542%, 98.647% 0.938%, 98.952% 1.423%, 99.215% 1.989%, 99.428% 2.626%, 99.587% 3.323%, 99.687% 4.071%, 99.721% 4.859%, 99.721% 74.86%);
  position: absolute;
  bottom: 158px;
  right: 0px;
}
.main-page .main-img-section__fill-information {
  background: rgba(10, 10, 10, 0.397);
  width: 332px;
  height: 179px;
  clip-path: polygon(99.721% 74.86%, 99.721% 94.754%, 99.721% 94.754%, 99.687% 95.542%, 99.587% 96.29%, 99.428% 96.987%, 99.215% 97.623%, 98.952% 98.19%, 98.647% 98.675%, 98.303% 99.07%, 97.926% 99.365%, 97.522% 99.549%, 97.097% 99.613%, 2.624% 99.613%, 2.624% 99.613%, 2.199% 99.549%, 1.795% 99.365%, 1.418% 99.07%, 1.074% 98.675%, 0.769% 98.19%, 0.506% 97.623%, 0.293% 96.987%, 0.134% 96.29%, 0.034% 95.542%, 0% 94.754%, 0% 27.075%, 0% 27.075%, 0.008% 26.689%, 0.033% 26.308%, 0.074% 25.933%, 0.13% 25.566%, 0.201% 25.209%, 0.288% 24.864%, 0.388% 24.531%, 0.503% 24.214%, 0.632% 23.912%, 0.774% 23.629%, 12.846% 1.413%, 12.846% 1.413%, 12.998% 1.153%, 13.16% 0.918%, 13.331% 0.709%, 13.51% 0.525%, 13.695% 0.367%, 13.886% 0.237%, 14.083% 0.134%, 14.284% 0.06%, 14.489% 0.015%, 14.696% 0%, 97.097% 0%, 97.097% 0%, 97.522% 0.064%, 97.926% 0.248%, 98.303% 0.542%, 98.647% 0.938%, 98.952% 1.423%, 99.215% 1.989%, 99.428% 2.626%, 99.587% 3.323%, 99.687% 4.071%, 99.721% 4.859%, 99.721% 74.86%);
  padding: 25px 0 0 17px;
}
.main-page .main-img-section__arrow {
  margin-left: 5px;
}
.main-page .main-img-section__author-info {
  margin: 0 0 0 4px;
}
.main-page .main-img-section__information-titel {
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  font-family: "Rajdhani";
}
.main-page .main-img-section__avtor-name {
  font-size: 15px;
  font-weight: 600;
  line-height: 210%;
  font-family: "Rajdhani";
  margin-left: 3px;
  margin-right: 5px;
}
.main-page .main-img-section__watch-section {
  margin: 6px 0 0 48px;
}
.main-page .main-img-section__title-wathc {
  font-size: 11px;
  font-weight: 600;
  opacity: 0.7;
  margin: 2px 0 0 2px;
}
.main-page .main-img-section__watch-number {
  width: 98px;
  margin: 3px 0 0 5px;
}
.main-page .main-img-section__timer {
  font-size: 17px;
  font-weight: 600;
}
.main-page .main-img-section__watch-text {
  width: 105px;
}
.main-page .main-img-section__watch {
  font-size: 11px;
  font-weight: 500;
  opacity: 0.7;
}
.main-page .main-img-section__titel-price {
  margin: 20px 0 0 5px;
  font-size: 11px;
  font-weight: 600;
  opacity: 0.7;
}
.main-page .main-img-section__cryptocurrency-img {
  padding: 6px 0;
}
.main-page .main-img-section__cryptocurrency {
  margin-left: 1px;
  font-family: "Orbitron";
  font-size: 10px;
  font-weight: 700;
}
.main-page .main-img-section__dollar {
  margin-left: 6px;
  font-size: 11px;
  font-weight: 400;
}
.main-page .main-img-section__button-outline {
  margin: 27px 0 0 50px;
  padding: 2px;
  background: linear-gradient(90deg, #3c79d4 0%, #858ae2 14%, #ffa6fa 69%);
  border-radius: 5px;
  box-shadow: 0px 4px 107px 0px rgba(255, 86, 246, 0.51);
}
.main-page .main-img-section__background-botton {
  font-size: 18px;
  font-weight: 600;
  font-family: "Rajdhani";
  padding: 6px 9px;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-radius: 5px;
}
.main-page .main-logo-section {
  width: 100%;
}
.main-page .main-logo-section__items {
  margin-top: 126px;
}

@media (max-width: 1440px) {
  .main-page__container {
    margin-top: 70px;
  }
  .main-page__blur-element-1 {
    top: 70%;
  }
  .main-page__blur-element-2 {
    top: 50%;
    left: 56%;
  }
  .main-page__background-element {
    display: none;
  }
  .main-page .main-text-section__title {
    width: 700px;
  }
  .main-page .main-img-section__blur-img {
    top: 36%;
    left: 19%;
  }
  .main-page .main-img-section__img {
    margin: 140px 0 0 70px;
  }
  .main-page .main-img-section__border-information {
    bottom: 180px;
  }
}
@media (max-width: 1240px) {
  .main-page__container {
    margin: 80px 0 0 5px;
  }
  .main-page .main-text-section__title {
    margin-top: 0;
    width: 340px;
    font-size: 42px;
    line-height: 137%;
    font-family: "Lato";
  }
  .main-page .main-text-section__border-information {
    bottom: 85px;
  }
  .main-page .main-text-section__text {
    margin-top: 28px;
    width: 315px;
    font-size: 14px;
    line-height: 165%;
  }
  .main-page .main-text-section__button-section {
    margin-top: 32px;
  }
  .main-page .main-text-section__button-box {
    margin-left: 20px;
    width: 100px;
    height: 30px;
  }
  .main-page .main-text-section__button-border {
    padding: 1px;
    border-radius: 4px;
  }
  .main-page .main-text-section__fill {
    font-size: 12px;
    padding: 9px 17px 12px 28px;
  }
  .main-page .main-text-section__arrow {
    width: 28px;
  }
  .main-page .main-text-section__button-text {
    margin-left: 20px;
    font-size: 12px;
  }
  .main-page .main-text-section__score {
    max-width: 300px;
    margin-top: 35px;
  }
  .main-page .main-text-section__score-number {
    font-size: 18px;
    line-height: 157%;
  }
  .main-page .main-text-section__score-text {
    margin-top: 2px;
    font-size: 12px;
    line-height: 98%;
    font-family: "Lato";
  }
  .main-page .main-text-section__vertical-line {
    display: none;
  }
  .main-page .main-img-section__blur-img {
    height: 250px;
    top: 18%;
    left: 13%;
  }
  .main-page .main-img-section__img {
    width: 305px;
    height: 100%;
    margin: 0 0 0 20px;
  }
  .main-page .main-img-section__border-information {
    bottom: 80px;
    right: -9px;
  }
  .main-page .main-logo-section__items {
    margin-top: 90px;
  }
  .main-page .main-logo-section__logo-item {
    width: 20%;
  }
}
@media (max-width: 767px) {
  .main-page__container {
    justify-content: center;
    margin: 55px 0 0 5px;
  }
  .main-page .main-text-section__text-section {
    margin: 0 auto;
  }
  .main-page .main-text-section__title {
    width: 90%;
  }
  .main-page .main-text-section__text {
    width: 95%;
  }
  .main-page .main-img-section {
    order: 3;
  }
  .main-page .main-img-section__blur-img {
    height: 78%;
    top: 18%;
    left: 6%;
  }
  .main-page .main-img-section__border-information {
    bottom: -130px;
    right: 0;
  }
  .main-page .main-img-section__fill-information {
    width: 324px;
    height: 175px;
    padding: 21px 0 0 16px;
  }
  .main-page .main-img-section__section-img {
    margin-top: 63px;
    position: relative;
  }
  .main-page .main-img-section__img {
    margin: 0;
    width: 402px;
    min-width: 324px;
    min-height: 385px;
    overflow: hidden;
    clip-path: polygon(0% 98.549%, 0% 13.899%, 0% 13.899%, 0.007% 13.771%, 0.03% 13.646%, 0.066% 13.525%, 0.116% 13.407%, 0.179% 13.294%, 0.254% 13.187%, 0.342% 13.086%, 0.441% 12.992%, 0.552% 12.906%, 0.673% 12.829%, 22.671% 0.225%, 22.671% 0.225%, 22.749% 0.183%, 22.83% 0.146%, 22.913% 0.112%, 22.998% 0.083%, 23.085% 0.058%, 23.174% 0.037%, 23.264% 0.021%, 23.356% 0.009%, 23.448% 0.002%, 23.541% 0%, 98.457% 0%, 98.457% 0%, 98.707% 0.017%, 98.945% 0.066%, 99.166% 0.145%, 99.368% 0.25%, 99.548% 0.379%, 99.702% 0.53%, 99.828% 0.7%, 99.921% 0.886%, 99.98% 1.085%, 100% 1.295%, 100% 88.546%, 100% 88.546%, 99.993% 88.669%, 99.973% 88.789%, 99.939% 88.906%, 99.893% 89.02%, 99.835% 89.129%, 99.765% 89.234%, 99.683% 89.333%, 99.591% 89.425%, 99.488% 89.51%, 99.375% 89.588%, 83.276% 99.59%, 83.276% 99.59%, 83.194% 99.637%, 83.11% 99.68%, 83.023% 99.718%, 82.933% 99.751%, 82.841% 99.779%, 82.747% 99.802%, 82.651% 99.821%, 82.554% 99.834%, 82.456% 99.842%, 82.357% 99.844%, 1.543% 99.844%, 1.543% 99.844%, 1.293% 99.827%, 1.055% 99.778%, 0.834% 99.7%, 0.632% 99.594%, 0.452% 99.465%, 0.298% 99.314%, 0.172% 99.144%, 0.079% 98.958%, 0.02% 98.759%, 0% 98.549%);
    border-radius: 4px;
  }
  .main-page .main-img-section__button-outline {
    margin: 20px 0 0 45px;
    padding: 2px;
    border-radius: 5px;
  }
  .main-page .main-img-section__background-botton {
    font-size: 17px;
  }
  .main-page .main-img-section__arrow {
    width: 23px;
  }
  .main-page .main-img-section__titel-price {
    margin: 15px 0 0 5px;
  }
  .main-page .main-img-section__cryptocurrency-img {
    padding: 5px 0;
  }
  .main-page .main-img-section__watch-section {
    margin: 9px 0 0 40px;
  }
  .main-page .main-logo-section__items {
    margin-top: 35px;
    display: flex !important;
    grid-template-columns: repeat(2, minmax(0px, 2fr));
    column-gap: 50px;
    row-gap: 35px;
    justify-content: center !important;
  }
  .main-page .main-logo-section__logo-item {
    width: 125px;
  }
}
.swiper-first .swiper-header__content {
  margin-top: 210px;
  width: 1380px;
}
.swiper-first .swiper-header__title {
  margin-left: 7px;
}
.swiper-first .swiper-header__link {
  font-size: 27px;
  font-weight: 700;
}
.swiper-first .swiper-header__arrow {
  margin: 0 0 5px 5px;
}
.swiper-first .swiper-header__blur-element-1 {
  position: absolute;
  width: 1px;
  top: 190%;
  left: 65%;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0px 5px 187px 60px #FF00C8;
  z-index: -2;
}
.swiper-first .swiper-header__blur-element-2 {
  position: absolute;
  width: 1px;
  top: 180%;
  left: 15%;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0px 0px 117px 45px #FFB1EE;
  z-index: -2;
}
.swiper-first .swiper-body {
  /*avtor-section*/
  /*wathc-section*/
  /*price-section*/
  /*button-section*/
}
.swiper-first .swiper-body__overflow-hidden {
  transform: translateZ(0);
  padding-left: 8px;
  width: 1395px;
  margin: 40px auto 0;
  overflow: hidden;
  z-index: -2;
}
.swiper-first .swiper-body__info {
  position: relative;
  padding: 34px 0 0 20px;
  width: 436px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.02) 104.35%);
  border: 3px solid rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}
.swiper-first .swiper-body__avtor-section {
  margin-left: 5px;
}
.swiper-first .swiper-body__avtor-title {
  font-size: 23px;
  font-family: "Rajdhani";
  line-height: 200%;
  font-weight: 700;
}
.swiper-first .swiper-body__avtor-img {
  margin: 4px 0 0 0;
}
.swiper-first .swiper-body__avtor-name {
  margin-left: 3px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Rajdhani";
}
.swiper-first .swiper-body__avtor-verified {
  margin-left: 8px;
}
.swiper-first .swiper-body__wathc-section {
  margin-top: 12px;
  position: absolute;
  right: 30px;
}
.swiper-first .swiper-body__wathc-title {
  padding-left: 6px;
  font-size: 14px;
  font-weight: 500;
}
.swiper-first .swiper-body__wathc-clockface {
  padding-top: 8px;
  height: 33px;
  font-size: 23px;
  font-weight: 600;
  font-family: "Rajdhani";
}
.swiper-first .swiper-body__wathc-hours {
  margin-left: 3px;
}
.swiper-first .swiper-body__wathc-minutes {
  margin-left: 33px;
}
.swiper-first .swiper-body__wathc-seconds {
  margin-left: 38px;
}
.swiper-first .swiper-body__wathc-clockface-text {
  font-size: 14px;
  font-weight: 600;
  font-family: "Rajdhani";
}
.swiper-first .swiper-body__wathc-text-mins {
  margin-left: 26px;
}
.swiper-first .swiper-body__wathc-text-secs {
  margin-left: 32px;
}
.swiper-first .swiper-body__price-title {
  margin: 27px 0 0 8px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Rajdhani";
}
.swiper-first .swiper-body__price-info {
  padding: 8px 0 30px 0;
}
.swiper-first .swiper-body__price-cryptocurrency {
  font-size: 13px;
  font-weight: 700;
  font-family: "Orbitron";
}
.swiper-first .swiper-body__price-dollar {
  margin-left: 7px;
  font-size: 14px;
  font-weight: 400;
}
.swiper-first .swiper-body__button {
  margin: 15px 0 0 70px;
}
.swiper-first .swiper-body__button-border {
  padding: 2px;
  background: linear-gradient(90deg, rgb(60, 121, 212) 0%, rgb(255, 166, 250) 50%);
  box-shadow: 0px 6px 50px 0px rgba(255, 86, 246, 0.51);
  transition: box-shadow 0.5s ease-in-out;
}
.swiper-first .swiper-body__button-border:hover {
  box-shadow: 0px 6px 70px 0px rgb(255, 105, 247);
}
.swiper-first .swiper-body__button-text {
  font-size: 23px;
  font-weight: 600;
  font-family: "Rajdhani";
  padding: 9px 11px 7px 13px;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
}
.swiper-first .swiper-body__button-arrow {
  margin-left: 7px;
}

@media (max-width: 1440px) {
  .swiper-first .swiper-header__content {
    margin-top: 200px;
    width: 100%;
  }
  .swiper-first .swiper-header__blur-element-1 {
    top: 205%;
    left: 70%;
  }
  .swiper-first .swiper-header__blur-element-2 {
    top: 195%;
    left: 10%;
  }
  .swiper-first .swiper-body__content {
    width: 1340px;
  }
  .swiper-first .swiper-body__overflow-hidden {
    width: 1200px;
  }
}
@media (max-width: 1240px) {
  .swiper-first .swiper-header__content {
    margin-top: 120px;
  }
  .swiper-first .swiper-header__link {
    display: none;
  }
  .swiper-first .swiper-header__blur-element-1 {
    top: 140%;
    left: 70%;
  }
  .swiper-first .swiper-header__blur-element-2 {
    top: 127%;
    left: 22%;
  }
  .swiper-first .swiper-body {
    /*avtor-section*/
    /*wathc-section*/
    /*price-section*/
    /*button-section*/
  }
  .swiper-first .swiper-body__content {
    width: 900px;
  }
  .swiper-first .swiper-body__img {
    width: 304px;
  }
  .swiper-first .swiper-body__overflow-hidden {
    width: 688px;
  }
  .swiper-first .swiper-body__info {
    padding: 24px 0 0 21px;
    width: 304px;
  }
  .swiper-first .swiper-body__avtor-title {
    font-size: 13px;
  }
  .swiper-first .swiper-body__avtor-img {
    width: 26px;
  }
  .swiper-first .swiper-body__avtor-name {
    font-size: 12px;
  }
  .swiper-first .swiper-body__avtor-verified {
    width: 11px;
  }
  .swiper-first .swiper-body__wathc-section {
    margin-top: 12px;
    right: 30px;
  }
  .swiper-first .swiper-body__wathc-title {
    font-size: 9px;
  }
  .swiper-first .swiper-body__wathc-clockface {
    font-size: 14px;
  }
  .swiper-first .swiper-body__wathc-hours {
    margin-left: 3px;
  }
  .swiper-first .swiper-body__wathc-minutes {
    margin-left: 24px;
  }
  .swiper-first .swiper-body__wathc-seconds {
    margin-left: 23px;
  }
  .swiper-first .swiper-body__wathc-clockface-text {
    font-size: 9px;
  }
  .swiper-first .swiper-body__wathc-text-mins {
    margin-left: 16px;
  }
  .swiper-first .swiper-body__wathc-text-secs {
    margin-left: 21px;
  }
  .swiper-first .swiper-body__price-title {
    margin: 30px 0 0 8px;
    font-size: 9px;
  }
  .swiper-first .swiper-body__price-img {
    width: 18px;
    height: 18px;
  }
  .swiper-first .swiper-body__price-cryptocurrency {
    font-size: 7px;
  }
  .swiper-first .swiper-body__price-dollar {
    font-size: 9px;
  }
  .swiper-first .swiper-body__button {
    margin: 15px 0 0 49px;
    padding: 2px;
  }
  .swiper-first .swiper-body__button-text {
    font-size: 14px;
    padding: 7px 8px 7px 9px;
  }
  .swiper-first .swiper-body__button-arrow {
    margin-left: 9px;
  }
}
@media (max-width: 767px) {
  .swiper-first .swiper-header__content {
    margin-top: 235px;
  }
  .swiper-first .swiper-header__title {
    margin-left: 0px;
  }
  .swiper-first .swiper-body {
    /*avtor-section*/
    /*wathc-section*/
    /*price-section*/
    /*button-section*/
  }
  .swiper-first .swiper-body__content {
    width: 930px;
    margin-top: 36px;
  }
  .swiper-first .swiper-body__overflow-hidden {
    margin-top: 0;
    margin-left: 4%;
    padding-left: 15px;
    width: 96%;
  }
  .swiper-first .swiper-body__info {
    padding: 24px 0 0 16px;
    width: 304px;
  }
  .swiper-first .swiper-body__avtor-title {
    font-size: 14px;
  }
  .swiper-first .swiper-body__avtor-img {
    width: 26px;
    margin-top: 3px;
  }
  .swiper-first .swiper-body__avtor-verified {
    width: 16px;
  }
  .swiper-first .swiper-body__wathc-section {
    margin-top: 7px;
    right: 24px;
  }
  .swiper-first .swiper-body__wathc-title {
    padding-left: 0px;
  }
  .swiper-first .swiper-body__wathc-clockface {
    padding-top: 2px;
    height: 24px;
  }
  .swiper-first .swiper-body__wathc-hours {
    margin-left: 0px;
  }
  .swiper-first .swiper-body__wathc-minutes {
    margin-left: 24px;
  }
  .swiper-first .swiper-body__wathc-seconds {
    margin-left: 23px;
  }
  .swiper-first .swiper-body__wathc-text-mins {
    margin-left: 17px;
  }
  .swiper-first .swiper-body__wathc-text-secs {
    margin-left: 18px;
  }
  .swiper-first .swiper-body__price-title {
    margin: 20px 0 0 0px;
    font-size: 9px;
  }
  .swiper-first .swiper-body__price-info {
    padding: 8px 0 20px 0;
  }
  .swiper-first .swiper-body__button {
    margin: 13px 0 0 59px;
    padding: 2px;
  }
  .swiper-first .swiper-body__button-text {
    padding: 6px 8px 6px 9px;
  }
  .swiper-first .swiper-body__button-arrow {
    width: 20px;
    height: 10px;
    margin-left: 15px;
  }
}
.tabs__container {
  margin: 206px 0 0 7px;
  position: relative;
}

.tabs-header__blur-element-1 {
  position: absolute;
  width: 1px;
  top: 120px;
  left: 500px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0px 5px 187px 60px #FF00C8;
  z-index: -2;
}
.tabs-header__container {
  width: 781px;
  text-align: right;
}
.tabs-header__items {
  margin-top: 44px;
  gap: 41px;
}
.tabs-header__item {
  padding-top: 30px;
  margin-bottom: 38px;
  font-size: 27px;
  width: 370px;
  height: 105px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg, rgb(60, 121, 212) 0%, rgb(255, 166, 250) 50%);
  border-image-slice: 3;
  opacity: 0.3;
  transition: background 0.5s ease, opacity 0.5s ease;
}
.tabs-header__item:hover {
  opacity: 1;
}
.tabs-header__item_active {
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  opacity: 1;
}
.tabs-header__link {
  font-size: 20px;
  display: inline-block;
}
.tabs-header__arrow {
  margin-left: 10px;
}

.tabs-body__conteiner {
  position: absolute;
  top: -47px;
  right: 47px;
}
.tabs-body__block {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.tabs-body__block_active {
  display: block;
  opacity: 1;
}
.tabs-body__img {
  width: 430px;
}
.tabs-body_active {
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  opacity: 1;
}

@media (max-width: 1440px) {
  .tabs__container {
    margin: 170px 0 0 0px;
  }
  .tabs-header__container {
    width: 100%;
  }
  .tabs-header__items {
    gap: 21px;
    width: 100%;
  }
  .tabs-header__item {
    width: 350px;
  }
  .tabs-header__item_active {
    opacity: 1;
  }
  .tabs-header__link {
    font-size: 20px;
  }
  .tabs-header__arrow {
    margin-left: 10px;
  }
  .tabs-body__conteiner {
    top: -45px;
    right: 0px;
  }
  .tabs-body__img {
    width: 400px;
  }
}
@media (max-width: 1240px) {
  .tabs__container {
    margin: 120px 0 0 0px;
  }
  .tabs-header__container {
    text-align: right;
  }
  .tabs-header__title {
    font-size: 11px;
  }
  .tabs-header__items {
    margin-top: 23px;
    gap: 18px;
  }
  .tabs-header__item {
    padding-top: 15px;
    margin-bottom: 20px;
    font-size: 15px;
    width: 170px;
    height: 60px;
  }
  .tabs-header__link {
    font-size: 14px;
    display: inline-block;
  }
  .tabs-header__arrow {
    margin-left: 7px;
    width: 22px;
    height: 7;
  }
  .tabs-body__conteiner {
    top: -50px;
    position: absolute;
  }
  .tabs-body__img {
    width: 280px;
  }
}
@media (max-width: 767px) {
  .tabs__container {
    margin: 107px 0 0 0px;
    position: relative;
  }
  .tabs-header {
    margin: 0 auto;
  }
  .tabs-header__container {
    width: 100%;
    text-align: right;
  }
  .tabs-header__items {
    margin-top: 19px;
    gap: 18px;
  }
  .tabs-header__item {
    padding-top: 10px;
    margin-bottom: 18px;
    font-size: 11px;
    width: 153px;
    height: 42px;
  }
  .tabs-header__item-magin {
    margin-bottom: 5px;
  }
  .tabs-header__link {
    font-size: 8px;
  }
  .tabs-header__arrow {
    margin-left: 4px;
  }
  .tabs-body {
    margin: 0 auto;
  }
  .tabs-body__conteiner {
    height: 350px;
    margin: 0 auto;
    position: static;
  }
  .tabs-body__img {
    padding-left: 10px;
    max-width: 197px;
  }
}
.swiper-seconds .swiper-header__content {
  margin-top: 239px;
  width: 1380px;
}
.swiper-seconds .swiper-header__title {
  margin-left: 7px;
}
.swiper-seconds .swiper-header__link {
  font-size: 27px;
}
.swiper-seconds .swiper-header__arrow {
  margin: 0 0 5px 5px;
}
.swiper-seconds .swiper-header__blur-element-1 {
  position: absolute;
  width: 1px;
  top: 350%;
  left: 60%;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 117px 45px #FFB1EE;
  z-index: -2;
}
.swiper-seconds .swiper-body__block-overflow-hidden {
  padding-left: 8px;
  width: 1395px;
  margin: 43px auto 0;
  overflow: hidden;
}
.swiper-seconds .swiper-body__item {
  width: 438px;
  position: relative;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.02) 104.35%);
  border: 3px solid rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}
.swiper-seconds .swiper-body__img-background {
  position: absolute;
  z-index: -1;
}
.swiper-seconds .swiper-body__info {
  width: 100%;
}
.swiper-seconds .swiper-body__img-artist {
  display: flex;
  margin: 102px auto 0;
  width: 163px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 190px;
}
.swiper-seconds .swiper-body__title {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Rajdhani";
}
.swiper-seconds .swiper-body__artist {
  margin: 2px 0 0 167px;
}
.swiper-seconds .swiper-body__artist-teg {
  font-size: 20px;
  font-weight: 400;
}
.swiper-seconds .swiper-body__artist-verified {
  margin-left: 5px;
}
.swiper-seconds .swiper-body__statistic {
  margin-top: 25px;
}
.swiper-seconds .swiper-body__numer {
  font-size: 32px;
  font-weight: 600;
}
.swiper-seconds .swiper-body__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 0.3;
}
.swiper-seconds .swiper-body__folowers {
  margin-left: 38px;
}
.swiper-seconds .swiper-body__following {
  margin-left: 65px;
}
.swiper-seconds .swiper-body__artworks {
  margin-left: 65px;
}
.swiper-seconds .swiper-body__button-section {
  margin: 51px auto 34px;
}
.swiper-seconds .swiper-body__button-outline {
  padding: 11px 2px;
  background: linear-gradient(90deg, rgb(60, 121, 212) 0%, rgb(255, 166, 250) 50%);
  box-shadow: 0px 5px 117px 0px rgba(255, 86, 246, 0.51);
  transition: box-shadow 0.5s ease-in-out;
}
.swiper-seconds .swiper-body__button-outline:hover {
  box-shadow: 0px 15px 137px 0px rgb(255, 105, 247);
}
.swiper-seconds .swiper-body__button {
  padding: 11px 92px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Rajdhani";
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
}

@media (max-width: 1440px) {
  .swiper-seconds .swiper-header__content {
    margin-top: 192px;
    width: 100%;
  }
  .swiper-seconds .swiper-header__blur-element-1 {
    top: 370%;
    left: 70%;
  }
  .swiper-seconds .swiper-body__block {
    width: 1340px;
  }
  .swiper-seconds .swiper-body__block-overflow-hidden {
    width: 1200px;
  }
}
@media (max-width: 1240px) {
  .swiper-seconds .swiper-header__content {
    margin-top: 110px;
  }
  .swiper-seconds .swiper-header__link {
    display: none;
  }
  .swiper-seconds .swiper-header__title {
    margin-left: 0;
    font-size: 18px;
  }
  .swiper-seconds .swiper-header__blur-element-1 {
    top: 250%;
    left: 70%;
  }
  .swiper-seconds .swiper-body__block {
    width: 900px;
  }
  .swiper-seconds .swiper-body__block-overflow-hidden {
    width: 688px;
  }
  .swiper-seconds .swiper-body__img-background {
    width: 100%;
  }
  .swiper-seconds .swiper-body__item {
    width: 303px;
  }
  .swiper-seconds .swiper-body__img-artist {
    margin: 70px auto 0;
    width: 112px;
    border: 2px solid rgba(255, 255, 255, 0.8);
  }
  .swiper-seconds .swiper-body__title {
    margin-top: 11px;
    font-size: 17px;
  }
  .swiper-seconds .swiper-body__artist {
    margin: 2px 0 0 115px;
  }
  .swiper-seconds .swiper-body__artist-teg {
    font-size: 14px;
  }
  .swiper-seconds .swiper-body__artist-verified {
    width: 10px;
  }
  .swiper-seconds .swiper-body__statistic {
    margin-top: 10px;
  }
  .swiper-seconds .swiper-body__numer {
    font-size: 22px;
  }
  .swiper-seconds .swiper-body__name {
    font-size: 14px;
  }
  .swiper-seconds .swiper-body__folowers {
    margin-left: 33px;
  }
  .swiper-seconds .swiper-body__following {
    margin-left: 40px;
  }
  .swiper-seconds .swiper-body__artworks {
    margin-left: 40px;
  }
  .swiper-seconds .swiper-body__button-outline {
    padding: 5px 2px 8px;
  }
  .swiper-seconds .swiper-body__button-section {
    margin: 30px auto 25px;
  }
  .swiper-seconds .swiper-body__button {
    padding: 8px 51px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .swiper-seconds .swiper-body__block-overflow-hidden {
    margin-top: 0;
    margin-left: 4%;
    padding-left: 15px;
    width: 96%;
  }
  .swiper-seconds .swiper-body__block {
    margin: 32px 0 0 0px;
    width: 960px;
  }
  .swiper-seconds .swiper-body__title {
    margin-top: 8px;
  }
  .swiper-seconds .swiper-body__artist {
    margin: 1px 0 0 115px;
  }
  .swiper-seconds .swiper-body__statistic {
    margin-top: 11px;
  }
  .swiper-seconds .swiper-body__numer {
    line-height: 200%;
  }
  .swiper-seconds .swiper-body__name {
    font-size: 14px;
  }
  .swiper-seconds .swiper-body__folowers {
    margin-left: 26px;
  }
  .swiper-seconds .swiper-body__following {
    margin-left: 45px;
  }
  .swiper-seconds .swiper-body__artworks {
    margin-left: 45px;
  }
  .swiper-seconds .swiper-body__button-section {
    margin-top: 30px;
  }
  .swiper-seconds .swiper-body__button-outline {
    padding: 4px 2px 7px;
  }
  .swiper-seconds .swiper-body__button {
    padding: 7px 64px;
  }
  .swiper-seconds .swiper-body__button-border {
    margin: 40px auto 0;
  }
}
.sellers .sellers-header__title-container {
  margin-top: 162px;
  padding-left: 20px;
}
.sellers .sellers-header__dropdown-link {
  margin-left: 8px;
}
.sellers .sellers-header__dropdown {
  font-size: 27px;
  font-weight: 700;
  color: #FF56F6;
}
.sellers .sellers-header__dropdown-value {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  background: #161516;
}
.sellers .sellers-header__text {
  margin: 23px auto 0;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
  width: 485px;
  line-height: 140%;
}
.sellers .sellers-body__overflow-hidden {
  overflow: hidden;
  height: 656px;
  transition: height 0.8s ease-in-out;
}
.sellers .sellers-body__content {
  margin: 55px 0 0 5px;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  column-gap: 35px;
  row-gap: 32px;
}
.sellers .sellers-body__item {
  width: 100%;
  padding: 26px 20px 24px 30px;
  border-radius: 29px;
  border: 3px solid rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(38px);
  -webkit-backdrop-filter: blur(38px);
}
.sellers .sellers-body__number {
  font-size: 19px;
  font-weight: 500;
  font-family: "Roboto";
}
.sellers .sellers-body__img {
  margin-left: 14px;
}
.sellers .sellers-body__info {
  margin-left: 14px;
}
.sellers .sellers-body__title-name {
  margin: 1px 0 7px 0;
  font-size: 19px;
  font-weight: 500;
  font-family: "Roboto";
}
.sellers .sellers-body__score-cryptocurrency {
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 14px;
}
.sellers .sellers-body__score {
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto";
  margin: 15px 0 0 0px;
  padding: 5px 18px 6px 18px;
  border-radius: 18px;
}
.sellers .sellers-body__botton-section {
  padding-left: 16px;
  margin-top: 58px;
}
.sellers .sellers-body__botton-border {
  padding: 2px;
  background: linear-gradient(90deg, rgb(60, 121, 212) 0%, rgb(255, 166, 250) 50%);
  box-shadow: 0px 5px 117px 0px #FF56F6;
  transition: box-shadow 0.5s ease-in-out;
}
.sellers .sellers-body__botton-border:hover {
  box-shadow: 0px 5px 137px 10px rgb(255, 105, 247);
}
.sellers .sellers-body__botton {
  font-size: 20px;
  font-weight: 600;
  font-family: "Rajdhani";
  padding: 9px 75px 11px 80px;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
}
.sellers .green {
  color: #0F6;
  border: 1px solid rgba(0, 178, 71, 0.72);
  background: rgba(0, 178, 71, 0.15);
}
.sellers .red {
  color: #F00;
  border: 1px solid rgba(178, 0, 0, 0.72);
  background: linear-gradient(180deg, rgba(235, 20, 20, 0.15) 0%, rgba(235, 20, 20, 0.1) 100%);
}

@media (max-width: 1440px) {
  .sellers .sellers-body__overflow-hidden {
    height: 655px;
  }
  .sellers .sellers-body_active {
    height: 977px;
  }
  .sellers .sellers-body__content {
    grid-template-columns: repeat(2, minmax(360px, 1fr));
  }
  .sellers .sellers-body__item {
    padding: 26px 20px 24px 30px;
    border-radius: 29px;
  }
}
@media (max-width: 1240px) {
  .sellers .sellers-header__title-container {
    margin-top: 108px;
  }
  .sellers .sellers-header__dropdown-link {
    margin-left: 2px;
  }
  .sellers .sellers-header__dropdown {
    font-size: 19px;
  }
  .sellers .sellers-header__dropdown-value {
    font-size: 14px;
  }
  .sellers .sellers-header__text {
    margin: 17px auto 0;
    font-size: 14px;
    width: 325px;
  }
  .sellers .sellers-body__overflow-hidden {
    height: 497px;
  }
  .sellers .sellers-body_active {
    height: 740px;
  }
  .sellers .sellers-body__content {
    margin: 37px 0 0 0;
    grid-template-columns: repeat(2, minmax(316px, 1fr));
    column-gap: 10px;
    row-gap: 25px;
  }
  .sellers .sellers-body__item {
    padding: 20px 14px 19px 21px;
    border-radius: 21px;
  }
  .sellers .sellers-body__number {
    font-size: 14px;
  }
  .sellers .sellers-body__img {
    margin-left: 12px;
    width: 51px;
  }
  .sellers .sellers-body__info {
    margin-left: 10px;
  }
  .sellers .sellers-body__title-name {
    margin: 1px 0 12px 0;
    font-size: 14px;
  }
  .sellers .sellers-body__score-cryptocurrency {
    margin-left: 3px;
    font-family: "Roboto";
    font-size: 10px;
  }
  .sellers .sellers-body__score {
    font-size: 11px;
    margin: 15px 0 0 0px;
    padding: 4px 13px 4px 12px;
    border-radius: 18px;
  }
  .sellers .sellers-body__botton-section {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .sellers .sellers-header__title-container {
    margin: 105px 13px 0 0;
  }
  .sellers .sellers-header__text {
    margin: 17px auto 0;
    font-size: 14px;
    width: 285px;
  }
  .sellers .sellers-body__overflow-hidden {
    height: 460px;
  }
  .sellers .sellers-body_active {
    height: 1380px;
  }
  .sellers .sellers-body__content {
    margin: 27px 0 0 5px;
    grid-template-columns: repeat(1, minmax(317px, 1fr));
    row-gap: 29px;
  }
  .sellers .sellers-body__item {
    padding: 16px 14px 15px 21px;
    border-radius: 18px;
    border: 2px solid rgba(255, 255, 255, 0.28);
  }
  .sellers .sellers-body__number {
    font-size: 14px;
  }
  .sellers .sellers-body__info {
    margin-left: 10px;
  }
  .sellers .sellers-body__title-name {
    margin: 1px 0 12px 0;
    font-size: 14px;
  }
  .sellers .sellers-body__score-cryptocurrency {
    margin-left: 3px;
    font-family: "Roboto";
    font-size: 10px;
  }
  .sellers .sellers-body__score {
    font-size: 11px;
    margin: 10px 0 0 0px;
    padding: 4px 14px 5px 14px;
    border-radius: 18px;
  }
  .sellers .sellers-body__botton-section {
    display: none !important;
  }
  .sellers .sellers-body__botton-mobile {
    margin-top: 30px;
  }
}
.text__container {
  position: relative;
}
.text__img-section {
  overflow: hidden;
  margin-top: 156px;
  height: 556px;
}
.text__img {
  width: 100%;
}
.text__info {
  position: absolute;
  right: 39px;
  top: -337px;
  width: 577px;
  padding: 58px 0 46px 71px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.02) 104.35%);
  border-radius: 3px;
  border: 3px solid rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(73px);
  -webkit-backdrop-filter: blur(73px);
}
.text__title {
  font-size: 45px;
  font-weight: 800;
  font-family: "Inter";
}
.text__text {
  margin: 23px 0 0 3px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter";
  line-height: 177%;
  width: 458px;
}
.text__link-section {
  margin-top: 45px;
}
.text_link {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter";
}
.text__play-svg {
  margin: 0 4px 0 43px;
}

@media (max-width: 1440px) {
  .text__img-section {
    height: 500px;
  }
  .text__info {
    right: 39px;
    top: -360px;
  }
}
@media (max-width: 1240px) {
  .text__img-section {
    margin-top: 108px;
    height: 320px;
  }
  .text__img {
    width: 1300px;
  }
  .text__info {
    right: 10px;
    top: -210px;
    width: 335px;
    padding: 34px 0 25px 38px;
    border: 2px solid rgba(255, 255, 255, 0.28);
  }
  .text__title {
    font-size: 26px;
  }
  .text__text {
    margin: 13px 0 0 0;
    font-size: 12px;
    width: 266px;
  }
  .text__link-section {
    margin-top: 18px;
  }
  .text_link {
    font-size: 10px;
  }
  .text__play-svg {
    margin: 0 4px 5px 25px;
    width: 7px;
    height: 10px;
  }
}
@media (max-width: 767px) {
  .text__img {
    width: 850px;
  }
  .text__info {
    right: 22px;
    top: -195px;
  }
}
.subscribe__content {
  margin: 200px 0 0 10px;
}
.subscribe__img-container {
  margin-top: 88px;
  overflow: hidden;
  height: 290px;
  width: 697px;
  border-radius: 4px;
}
.subscribe__img {
  width: 699px;
  height: 469px;
}
.subscribe__info {
  margin: 120px 0 0 78px;
}
.subscribe__title {
  font-size: 40px;
  font-weight: 700;
}
.subscribe__text {
  width: 490px;
  margin-top: 28px;
  font-size: 20px;
  font-weight: 400;
  line-height: 177%;
  font-family: "Inter";
}
.subscribe__email-form {
  margin-top: 50px;
}
.subscribe__input {
  padding: 14px 54px 14px 18px;
  color: var(#474A57);
  font-size: 15px;
  font-family: "Inter";
  border-radius: 6px 0 0 6px;
}
.subscribe__button-border {
  margin-left: 5px;
  padding: 2px;
  border-radius: 0 6px 6px 0;
  background: linear-gradient(90deg, rgb(60, 121, 212) 0%, rgb(255, 166, 250) 50%);
  transition: box-shadow 0.5s ease-in-out;
}
.subscribe__button-border:hover {
  box-shadow: 0px 5px 70px 10px rgb(255, 105, 247);
}
.subscribe__button {
  padding: 12px 35px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter";
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-radius: 0 6px 6px 0;
  border: 0;
  box-shadow: 0px 5px 117px 0px rgba(255, 86, 246, 0.51);
}

@media (max-width: 1440px) {
  .subscribe__info {
    margin: 110px 0 0 40px;
  }
}
@media (max-width: 1240px) {
  .subscribe__content {
    margin: 108px 0 0 10px;
  }
  .subscribe__img-container {
    margin-top: 88px;
    overflow: hidden;
    height: 290px;
    border-radius: 4px;
  }
  .subscribe__info {
    margin: 150px 0 0 30px;
  }
  .subscribe__title {
    font-size: 26px;
  }
  .subscribe__text {
    margin-top: 15px;
    width: 316px;
    font-size: 13px;
  }
  .subscribe__email-form {
    margin-top: 33px;
  }
  .subscribe__input {
    padding: 10px 33px 10px 15px;
    font-size: 10px;
    border-radius: 4px 0 0 4px;
  }
  .subscribe__button-border {
    margin-left: 1px;
    padding: 2px;
    border-radius: 0 4px 4px 0;
  }
  .subscribe__button {
    padding: 8px 22px;
    font-size: 10px;
    border-radius: 0 4px 4px 0;
  }
}
@media (max-width: 767px) {
  .subscribe__content {
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .subscribe__img-container {
    margin: 110px auto 0;
    height: 380px;
    width: 326px;
    order: 2;
  }
  .subscribe__info {
    margin: 188px auto 0;
  }
  .subscribe__text {
    margin-top: 15px;
    width: 98%;
    font-size: 13px;
  }
  .subscribe__input {
    width: 56%;
  }
  .subscribe__email-form {
    margin-top: 37px;
  }
}
.footer a {
  font-family: "Inter";
}
.footer__content {
  margin-top: 152px;
  width: 1339px;
}
.footer__horizontal-line {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #FFFFFF;
}
.footer__margin {
  margin-top: 70px;
}
.footer .footer-main-info__content {
  margin-top: 98px;
}
.footer .footer-main-info__logo-link {
  width: 140px;
}
.footer .footer-main-info_text {
  color: #D9DBE1;
  font-size: 15px;
  margin-top: 32px;
  width: 288px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 171%;
}
.footer .footer-main-info__Items {
  margin-top: 27px;
  gap: 18px;
}
.footer .footer-menu__content {
  gap: 33px;
  margin: 98px 0 0 65px;
}
.footer .footer-menu__horizontal-line {
  display: none;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #FFFFFF;
}
.footer .footer-menu__colum {
  width: 177px;
}
.footer .footer-menu__titel-section {
  pointer-events: none;
}
.footer .footer-menu__title {
  color: #D9DBE1;
  font-size: 20px;
  font-family: "Inter";
  font-weight: 500;
}
.footer .footer-menu__arrow-menu {
  display: none;
}
.footer .footer-menu__items {
  margin-top: 25px;
  gap: 15px;
}
.footer .footer-menu__item {
  color: #D9DBE1;
  font-size: 15px;
  font-weight: 400;
  line-height: 171%;
  transition: text-shadow 0.5s ease-in-out;
}
.footer .footer-menu__item:hover {
  text-shadow: -5px -5px 25px rgb(255, 105, 247), 5px -5px 25px rgb(255, 105, 247), -5px 5px 25px rgb(255, 105, 247), 5px 5px 25px rgb(255, 105, 247);
}
.footer .footer-menu__new {
  color: #2EC5CE;
  font-size: 22px;
  font-weight: 400;
  margin-left: 9px;
  line-height: 17px;
  font-family: "MuseoModerno";
}
.footer .foter-copyright__content {
  margin-top: 24px;
  margin-bottom: 27px;
}
.footer .foter-copyright__text {
  font-size: 15px;
  font-weight: 400;
  font-family: "Inter";
}
.footer .foter-copyright__items {
  gap: 13px;
}
.footer .foter-copyright__item {
  font-size: 15px;
  font-weight: 400;
  transition: text-shadow 0.5s ease-in-out;
}
.footer .foter-copyright__item:hover {
  text-shadow: -5px -5px 25px rgb(255, 105, 247), 5px -5px 25px rgb(255, 105, 247), -5px 5px 25px rgb(255, 105, 247), 5px 5px 25px rgb(255, 105, 247);
}
.footer .foter-copyright__vertical-line {
  background-color: #D9DBE1;
  width: 2px;
  height: 17px;
}

@media (max-width: 1440px) {
  .footer__content {
    margin-top: 120px;
    width: 100%;
  }
  .footer__margin {
    margin-top: 50px;
  }
  .footer .footer-main-info__content {
    margin-top: 70px;
  }
  .footer .footer-main-info_text {
    width: 200px;
  }
  .footer .footer-main-info__Items {
    margin-top: 27px;
    gap: 18px;
  }
  .footer .footer-menu__colum {
    width: 160px;
  }
}
@media (max-width: 1240px) {
  .footer__content {
    margin-top: 108px;
  }
  .footer__block {
    display: grid !important;
  }
  .footer__margin {
    display: none;
  }
  .footer .footer-main-info__content {
    margin-top: 32px;
  }
  .footer .footer-main-info_text {
    color: #D9DBE1;
    width: 80%;
  }
  .footer .footer-menu__content {
    gap: 16px;
    margin: 50px 0 0 0px;
    display: grid !important;
  }
  .footer .footer-menu__horizontal-line {
    display: flex;
  }
  .footer .footer-menu__colum {
    width: 95%;
    height: 31px;
    overflow: hidden;
    transition: height 0.8s ease-in-out;
  }
  .footer .footer-menu__colum_active {
    height: 270px;
  }
  .footer .footer-menu__titel-section {
    pointer-events: auto;
  }
  .footer .footer-menu__arrow-menu {
    display: flex;
    transform: rotate(0deg);
    transition: all 0.8s ease-in-out;
  }
  .footer .footer-menu__arrow-menu_active {
    transform: rotate(180deg);
  }
  .footer .footer-menu__items {
    margin: 30px 0 0 15px;
  }
  .footer .foter-copyright__content {
    margin-top: 44px;
  }
  .footer .foter-copyright__item:last-child {
    display: none;
  }
  .footer .foter-copyright__vertical-line {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer .footer-main-info__content {
    margin-top: 26px;
  }
  .footer .footer-main-info_text {
    color: #D9DBE1;
    width: 100%;
  }
  .footer .footer-menu__content {
    gap: 16px;
    margin: 38px 0 0 0px;
  }
  .footer .footer-menu__colum {
    height: 31px;
  }
  .footer .footer-menu__colum_active {
    height: 270px;
  }
  .footer .footer-menu__arrow-menu {
    transform: rotate(0deg);
  }
  .footer .footer-menu__arrow-menu_active {
    transform: rotate(180deg);
  }
  .footer .foter-copyright__items {
    margin: 0 auto;
    gap: 40px;
  }
  .footer .foter-copyright__content {
    flex-direction: column-reverse;
  }
  .footer .foter-copyright__text {
    margin-top: 38px;
    text-align: center;
  }
}
/*base*/
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 8, 59);
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Rajdhani";
  padding: 0;
  margin: 0;
}

select {
  font-family: "Orbitron";
  background-color: transparent;
  border: none;
}

select:active {
  border: 0;
}

select:focus {
  outline: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

option {
  color: #FFFFFF;
  border: none;
}

a {
  color: #FFFFFF;
  font-family: "Orbitron";
  padding: 0;
  margin: 0;
}

a:hover {
  color: #FFFFFF;
}

h1, h2, h3, h4 {
  font-family: "Orbitron";
  padding: 0;
  margin: 0;
}

button {
  color: #FFFFFF;
  border: none;
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.button {
  display: none;
}
.button__border {
  margin: 39px auto 0;
  padding: 2px;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  clip-path: polygon(17.985% 3.711%, 97.904% 3.711%, 97.904% 3.711%, 98.114% 3.772%, 98.313% 3.948%, 98.498% 4.231%, 98.667% 4.609%, 98.818% 5.075%, 98.947% 5.617%, 99.052% 6.228%, 99.13% 6.896%, 99.179% 7.612%, 99.196% 8.368%, 99.196% 69.725%, 99.196% 69.725%, 99.188% 70.253%, 99.164% 70.768%, 99.124% 71.266%, 99.069% 71.741%, 99% 72.191%, 98.918% 72.611%, 98.823% 72.997%, 98.717% 73.345%, 98.599% 73.65%, 98.472% 73.909%, 85.715% 96.374%, 85.715% 96.374%, 85.661% 96.463%, 85.607% 96.543%, 85.552% 96.614%, 85.496% 96.675%, 85.439% 96.727%, 85.382% 96.77%, 85.324% 96.804%, 85.266% 96.828%, 85.207% 96.842%, 85.148% 96.847%, 2.321% 96.847%, 2.321% 96.847%, 2.111% 96.786%, 1.913% 96.609%, 1.727% 96.327%, 1.558% 95.948%, 1.408% 95.483%, 1.279% 94.94%, 1.173% 94.33%, 1.095% 93.662%, 1.046% 92.946%, 1.029% 92.19%, 1.029% 35.13%, 1.029% 35.13%, 1.038% 34.595%, 1.063% 34.075%, 1.104% 33.573%, 1.159% 33.093%, 1.229% 32.64%, 1.313% 32.217%, 1.409% 31.83%, 1.518% 31.482%, 1.638% 31.178%, 1.768% 30.922%, 17.432% 4.16%, 17.432% 4.16%, 17.484% 4.075%, 17.537% 3.999%, 17.591% 3.932%, 17.646% 3.874%, 17.702% 3.824%, 17.757% 3.784%, 17.814% 3.752%, 17.871% 3.729%, 17.928% 3.715%, 17.985% 3.711%);
}
.button__text {
  width: 133px;
  height: 34px;
  padding: 8px 0 0 28px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Orbitron";
  background: rgb(32, 8, 59);
  clip-path: polygon(17.985% 3.711%, 97.904% 3.711%, 97.904% 3.711%, 98.114% 3.772%, 98.313% 3.948%, 98.498% 4.231%, 98.667% 4.609%, 98.818% 5.075%, 98.947% 5.617%, 99.052% 6.228%, 99.13% 6.896%, 99.179% 7.612%, 99.196% 8.368%, 99.196% 69.725%, 99.196% 69.725%, 99.188% 70.253%, 99.164% 70.768%, 99.124% 71.266%, 99.069% 71.741%, 99% 72.191%, 98.918% 72.611%, 98.823% 72.997%, 98.717% 73.345%, 98.599% 73.65%, 98.472% 73.909%, 85.715% 96.374%, 85.715% 96.374%, 85.661% 96.463%, 85.607% 96.543%, 85.552% 96.614%, 85.496% 96.675%, 85.439% 96.727%, 85.382% 96.77%, 85.324% 96.804%, 85.266% 96.828%, 85.207% 96.842%, 85.148% 96.847%, 2.321% 96.847%, 2.321% 96.847%, 2.111% 96.786%, 1.913% 96.609%, 1.727% 96.327%, 1.558% 95.948%, 1.408% 95.483%, 1.279% 94.94%, 1.173% 94.33%, 1.095% 93.662%, 1.046% 92.946%, 1.029% 92.19%, 1.029% 35.13%, 1.029% 35.13%, 1.038% 34.595%, 1.063% 34.075%, 1.104% 33.573%, 1.159% 33.093%, 1.229% 32.64%, 1.313% 32.217%, 1.409% 31.83%, 1.518% 31.482%, 1.638% 31.178%, 1.768% 30.922%, 17.432% 4.16%, 17.432% 4.16%, 17.484% 4.075%, 17.537% 3.999%, 17.591% 3.932%, 17.646% 3.874%, 17.702% 3.824%, 17.757% 3.784%, 17.814% 3.752%, 17.871% 3.729%, 17.928% 3.715%, 17.985% 3.711%);
}
.button__arrow {
  margin-left: 5px;
}

@media (max-width: 1920px) {
  .container-xxl {
    max-width: 1400px;
    padding: 3px;
  }
}
@media (max-width: 1440px) {
  .container-xl {
    max-width: 1200px;
    padding: 3px;
  }
}
@media (max-width: 1240px) {
  .container-md {
    max-width: 768px;
    padding: 0 40px;
  }
  .title {
    font-size: 16px;
  }
  .button {
    display: flex;
  }
  .nav,
  .header-link-list,
  .header-navigation {
    display: none;
  }
}
@media (max-width: 767px) {
  .container-sm {
    position: relative;
    max-width: 90%;
    min-width: 375px;
    padding: 0 25px;
  }
}/*# sourceMappingURL=main.css.map */