/*fonts*/

/*orbitron*/

@font-face {
    font-display: swap; 
    font-family: 'Orbitron';
    font-weight: 600;
    src: url('../fonts/orbitron-v31-latin-600.woff2') format('woff2'),
    url('../fonts/orbitron-v31-latin-600.woff') format('woff'), 
}

@font-face {
    font-display: swap;
    font-family: 'Orbitron';
    font-weight: 700;
    src: url('../fonts/orbitron-v31-latin-700.woff2') format('woff2'),
    url('../fonts/orbitron-v31-latin-700.woff') format('woff'),    
}

/* rajdhani */

@font-face {
    font-display: swap;
    font-family: 'Rajdhani';
    font-weight: 400;
    src: url('../fonts/rajdhani-v15-latin-regular.woff2') format('woff2'),
    url('../fonts/rajdhani-v15-latin-regular.woff') format('woff'),
}
  
@font-face {
    font-display: swap;
    font-family: 'Rajdhani';
    font-weight: 500;
    src: url('../fonts/rajdhani-v15-latin-500.woff2') format('woff2'), 
    url('../fonts/rajdhani-v15-latin-500.woff') format('woff'),
}

@font-face {
    font-display: swap;
    font-family: 'Rajdhani';
    font-weight: 600;
    src: url('../fonts/rajdhani-v15-latin-600.woff2') format('woff2'), 
    url('../fonts/rajdhani-v15-latin-600.woff') format('woff'),  
}
  
@font-face {
    font-display: swap; 
    font-family: 'Rajdhani';
    font-weight: 700;
    src: url('../fonts/rajdhani-v15-latin-700.woff2') format('woff2'),
    url('../fonts/rajdhani-v15-latin-700.woff') format('woff'), 
}

/* aldrich*/

@font-face {
    font-display: swap; 
    font-family: 'Aldrich';
    font-weight: 400;
    src: url('../fonts/aldrich-v21-latin-regular.woff2') format('woff2'),
    url('../fonts/aldrich-v21-latin-regular.woff') format('woff'),
}

/* inter*/

@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v13-latin-regular.woff') format('woff'),     
}
 
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-weight: 500;
    src: url('../fonts/inter-v13-latin-500.woff2') format('woff2'),
    url('../fonts/inter-v13-latin-500.woff') format('woff'), 
}
 
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-weight: 800;
    src: url('../fonts/inter-v13-latin-800.woff2') format('woff2'), 
    url('../fonts/inter-v13-latin-800.woff') format('woff'), 
}

/* roboto */

@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-regular.woff') format('woff'),    
}

@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-500.woff') format('woff'), 
} 

/*Alethia Next*/

@font-face {
    font-display: swap;
    font-family: 'Alethia Next';
    font-weight: 300;
    src: url('../fonts/aldrich-v21-latin-regular.woff2') format('woff2'),
    url('../fonts/aldrich-v21-latin-regular.woff') format('woff');   
}

:root {
    --blue-background-color: #210C3B;
    --white-fonts-color: #FFFFFF;
    --violet-blue-gradient: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
    --blue-violet-gradient: linear-gradient(90deg, #42A6E3 2.33%, #FF56F6 101.4%);
}

/*base*/

* {
    box-sizing: border-box;
}

body {
    background-color: var(--blue-background-color);
    color: var(--white-fonts-color);
    margin: 0;
    padding: 0;
}

a, p {
    color: var(--white-fonts-color);
    font-family: Orbitron;
    padding: 0;
    margin: 0;
}

a:hover {
    color: var(--white-fonts-color);
}

h1,h2,h3 {
    font-family: Orbitron;
    padding: 0;
    margin: 0;
}

/*header-section*/

.header-section {
    margin-top: 42.1px ;
    max-width: 1373.61px;
}

.header-navigation {
    gap: 66.33px;
}

.menu-navigation {
    gap: 40.9px;
}

.link-navigation {
    font-size: 19.898px;
    font-weight: 700;
    font-family: Orbitron;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.link-navigation:hover {
    opacity: 1;
    color: var(--white-fonts-color);
}

/*main-page*/

.main-page {
    margin-top: 116.07px;
    width: 760px;
}

.main-gradient {
    background: var(--violet-blue-gradient) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titel-main-page {
    font-size: 66.33px;
    font-weight: 600;
    line-height: 137.4%;
    font-family: Spartan;
}

.text-main-page {
    width: 700px;
    margin-top: 45.86px;
    font-size: 26.531px;
    font-weight: 400;
    line-height: 44.218px;
    font-family: Rajdhani;
}

.main-arrow  {
    margin-left: 11.05px;
}

.main-button {
   margin-top: 43.11px; 
}

.buttom-main-text {
    margin-left: 37.59px;
    font-size: 19.898px;
    font-weight: 700;
    background: var(--blue-violet-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-button {
    font-size: 19.898px;
}

.main-botton-background {
    padding: 19.9px 32.06px 18.79px 67.43px;
    background: var(--blue-violet-gradient);
    border-radius: 2px;
    clip-path: polygon(20% 0, 100% 0, 100% 74%, 85% 100%, 0 100%, 0 31%);  
}

.main-button-border {
    padding: 2.211px;;
    clip-path: polygon(20% 0, 100% 0, 100% 74%, 85% 100%, 0 100%, 0 31%); 
    background: var(--violet-blue-gradient);
    border-radius: 4px;
}

.main-page-score {
    max-width: 479.77px;
    margin-top: 68.54px;
}

.main-vertical-line {
    width: 1.11px; /* Ширина лінії */
    height:63.01px; /* Висота лінії (може бути відмічена в пікселях або відсотках) */
    background-color: #FFF; /* Колір лінії */
    opacity: 26%;
}

.titel-score {
    font-size: 39.797px;
    letter-spacing: 0.221px;
    line-height: 53.062px;
    font-family: 'Aldrich';
}

.text-score {
    font-size: 17.687px;
    line-height: 22.109px; 
    letter-spacing: 0.221px;
    font-family: 'Alethia Next';
}

/*desktop-page*/

@media (max-width: 1920px) {
    .container-xxl {
        max-width: 1400px;
        padding: 0;
    }
}