/*main-colors*/

$blueBackgroundColor: rgba(32, 8, 59, 1);
$whiteFontsColor: #FFFFFF;

/*main-section*/

$violetBlueGradient: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
$blueVioletGradient: linear-gradient(90deg, #42A6E3 2.33%, #FF56F6 101.4%);
$buttonGradient: linear-gradient(90deg, #3BACE2 0%, #7764FC 29%, #B936EE 48%, #FF56F6 70%);
$buttonBorder: linear-gradient(90deg, #FFA6FA 0%, #3C79D4 100%);
$mainInfoTableFill: linear-gradient(90deg, rgba(255, 255, 255, 0.10) -1.52%, rgba(255, 255, 255, 0.02) 104.35%);
$bottonBorder: linear-gradient(90deg, #3c79d4 0%, #858ae2 14%, #ffa6fa 69%);

/*burger-colors*/

$burgerBackground:  rgba(0, 0, 0, 0.5);
$burgerHeader: #020202;
$MainInfoBorder: rgba(255, 255, 255, 0.28);
$BurgerMenu: #161516;

$Main: rgba(10, 10, 10, 0.397);
$mainBorder: rgba(255, 255, 255, 0.281);

$swiperBottonFill: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
$tabsItemGradient: linear-gradient(90deg, rgba(60,121,212,1) 0%, rgba(255,166,250,1) 50%);

/*sellers*/

$sellersSelectColor: #FF56F6;
$sellersScoreFillGreen: rgba(0, 178, 71, 0.15);
$sellersScoreBorderGreen: rgba(0, 178, 71, 0.72);
$sellersScoreTextGreen: #0F6;
$sellersScoreFillRed: linear-gradient(180deg, rgba(235, 20, 20, 0.15) 0%, rgba(235, 20, 20, 0.10) 100%);
$sellersScoreBorderRed: rgba(178, 0, 0, 0.72);
$sellersScoreTextRed: #F00;
$sellersText: rgba(255, 255, 255, 0.80);

$boxShadowViolet: rgba(255, 86, 246, 0.51);
$boxShadowVioletActive:rgb(255, 105, 247);
$boxShadowPink: #FF00C8;
$boxShadowPinkLite: #FFB1EE;
$textGray: var( #474A57);
$footerColor:#D9DBE1;
$footerNew: #2EC5CE;