@import "./colors";
@import "./fonts";
@import "./media_breackpoints";
@import "./blocks/header";
@import "./blocks/burger-menu";
@import "./blocks/main-page";
@import "./blocks/swiper-first";
@import "./blocks/tabs";
@import "./blocks/swiper-seconds";
@import "./blocks/sellers";
@import "./blocks/text-section";
@import "./blocks/subscribe-section";
/*base*/

* {
    box-sizing: border-box;
}

body {
    background-color: $blueBackgroundColor;
    color: $whiteFontsColor;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Rajdhani';
    padding: 0;
    margin: 0;
}

select {
    font-family: 'Orbitron';
    background-color: transparent;
    border: none;
}

select:active {
    border: 0;
}

select:focus {
    border: 0;
}

input {
    border: none;
}

option {
    color: $whiteFontsColor;
    border: none;
}

a {
    color: $whiteFontsColor;
    font-family: 'Orbitron';
    padding: 0;
    margin: 0;
}

a:hover {
    color: $whiteFontsColor;
}

h1,h2,h3,h4 {
    font-family: 'Orbitron';
    padding: 0;
    margin: 0;
}

button {
    color: $whiteFontsColor;
    border: none;
}


.title {
    font-size: 26px;
    font-weight: 700;
}

.button {
    display: none;

    &__border {
        margin: 40px auto 0;
        padding: 5px 2px 11px 2px;
        background: $swiperBottonFill;
        clip-path: polygon( 17.985% 3.711%,97.904% 3.711%,97.904% 3.711%,98.114% 3.772%,98.313% 3.948%,98.498% 4.231%,98.667% 4.609%,98.818% 5.075%,98.947% 5.617%,99.052% 6.228%,99.13% 6.896%,99.179% 7.612%,99.196% 8.368%,99.196% 69.725%,99.196% 69.725%,99.188% 70.253%,99.164% 70.768%,99.124% 71.266%,99.069% 71.741%,99% 72.191%,98.918% 72.611%,98.823% 72.997%,98.717% 73.345%,98.599% 73.65%,98.472% 73.909%,85.715% 96.374%,85.715% 96.374%,85.661% 96.463%,85.607% 96.543%,85.552% 96.614%,85.496% 96.675%,85.439% 96.727%,85.382% 96.77%,85.324% 96.804%,85.266% 96.828%,85.207% 96.842%,85.148% 96.847%,2.321% 96.847%,2.321% 96.847%,2.111% 96.786%,1.913% 96.609%,1.727% 96.327%,1.558% 95.948%,1.408% 95.483%,1.279% 94.94%,1.173% 94.33%,1.095% 93.662%,1.046% 92.946%,1.029% 92.19%,1.029% 35.13%,1.029% 35.13%,1.038% 34.595%,1.063% 34.075%,1.104% 33.573%,1.159% 33.093%,1.229% 32.64%,1.313% 32.217%,1.409% 31.83%,1.518% 31.482%,1.638% 31.178%,1.768% 30.922%,17.432% 4.16%,17.432% 4.16%,17.484% 4.075%,17.537% 3.999%,17.591% 3.932%,17.646% 3.874%,17.702% 3.824%,17.757% 3.784%,17.814% 3.752%,17.871% 3.729%,17.928% 3.715%,17.985% 3.711% );
    }
    
    &__text {
        padding: 9px 17px 12px 28px;
        font-size: 12px;
        font-weight: 700;
        font-family: 'Orbitron';
        background: $blueBackgroundColor;
        clip-path: polygon( 17.985% 3.711%,97.904% 3.711%,97.904% 3.711%,98.114% 3.772%,98.313% 3.948%,98.498% 4.231%,98.667% 4.609%,98.818% 5.075%,98.947% 5.617%,99.052% 6.228%,99.13% 6.896%,99.179% 7.612%,99.196% 8.368%,99.196% 69.725%,99.196% 69.725%,99.188% 70.253%,99.164% 70.768%,99.124% 71.266%,99.069% 71.741%,99% 72.191%,98.918% 72.611%,98.823% 72.997%,98.717% 73.345%,98.599% 73.65%,98.472% 73.909%,85.715% 96.374%,85.715% 96.374%,85.661% 96.463%,85.607% 96.543%,85.552% 96.614%,85.496% 96.675%,85.439% 96.727%,85.382% 96.77%,85.324% 96.804%,85.266% 96.828%,85.207% 96.842%,85.148% 96.847%,2.321% 96.847%,2.321% 96.847%,2.111% 96.786%,1.913% 96.609%,1.727% 96.327%,1.558% 95.948%,1.408% 95.483%,1.279% 94.94%,1.173% 94.33%,1.095% 93.662%,1.046% 92.946%,1.029% 92.19%,1.029% 35.13%,1.029% 35.13%,1.038% 34.595%,1.063% 34.075%,1.104% 33.573%,1.159% 33.093%,1.229% 32.64%,1.313% 32.217%,1.409% 31.83%,1.518% 31.482%,1.638% 31.178%,1.768% 30.922%,17.432% 4.16%,17.432% 4.16%,17.484% 4.075%,17.537% 3.999%,17.591% 3.932%,17.646% 3.874%,17.702% 3.824%,17.757% 3.784%,17.814% 3.752%,17.871% 3.729%,17.928% 3.715%,17.985% 3.711% );  
    }
    
    &__arrow {
        margin-left: 5px;
    }
}

@include respond-below(xxl) {
    .container-xxl {
        max-width: 1400px;
        padding: 3px;
    }
}

@include respond-below(xl) {
    .container-xl {
        max-width: 1200px;
        padding: 3px;
    }
}

@include respond-below(md) {
    .container-md {
        max-width: 768px;
        padding: 0 40px;
    }

    .title {
        font-size: 16px;
    }

    .button {
        display: flex;
    }

    .nav,
    .header-link-list,
    .header-navigation
     {
        display: none;
    }
}

@include respond-below(sm) {
    .container-sm {
        position: relative;
        max-width: 90%;
        min-width: 375px;
        padding: 0 25px;
    }
}