.swiper-first .swiper-header__content {
  margin-top: 387px;
  width: 1380px;
}
.swiper-first .swiper-header__title {
  margin-left: 7px;
}
.swiper-first .swiper-header__link {
  font-size: 27px;
  font-weight: 700;
}
.swiper-first .swiper-header__arrow {
  margin: 0 0 5px 5px;
}
.swiper-first .swiper-body {
  /*avtor-section*/
  /*wathc-section*/
  /*price-section*/
  /*button-section*/
  /*bottom-button*/
}
.swiper-first .swiper-body__content {
  margin: 43px 0 0 8px;
}
.swiper-first .swiper-body__overflow_hidden {
  overflow: hidden;
}
.swiper-first .swiper-body__info {
  position: relative;
  padding: 34px 0 0 20px;
  width: 436px;
  background: var(--main-information-table-swiper-fill);
  border: var(--main-informatipn-table-swiper-border) 3px solid;
  backdrop-filter: blur(40px);
}
.swiper-first .swiper-body__avtor-section {
  margin-left: 5px;
}
.swiper-first .swiper-body__avtor-title {
  font-size: 23px;
  font-family: "Rajdhani";
  line-height: 200%;
  font-weight: 700;
}
.swiper-first .swiper-body__avtor-img {
  margin: 4px 0 0 0;
}
.swiper-first .swiper-body__avtor-name {
  margin-left: 3px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Rajdhani";
}
.swiper-first .swiper-body__avtor-verified {
  margin-left: 8px;
}
.swiper-first .swiper-body__wathc-section {
  margin-top: 12px;
  position: absolute;
  right: 30px;
}
.swiper-first .swiper-body__wathc-title {
  padding-left: 6px;
  font-size: 14px;
  font-weight: 500;
}
.swiper-first .swiper-body__wathc-clockface {
  padding-top: 8px;
  height: 33px;
  font-size: 23px;
  font-weight: 600;
  font-family: "Rajdhani";
}
.swiper-first .swiper-body__wathc-hours {
  margin-left: 3px;
}
.swiper-first .swiper-body__wathc-minutes {
  margin-left: 33px;
}
.swiper-first .swiper-body__wathc-seconds {
  margin-left: 38px;
}
.swiper-first .swiper-body__wathc-clockface-text {
  font-size: 14px;
  font-weight: 600;
  font-family: "Rajdhani";
}
.swiper-first .swiper-body__wathc-text-mins {
  margin-left: 26px;
}
.swiper-first .swiper-body__wathc-text-secs {
  margin-left: 32px;
}
.swiper-first .swiper-body__price-title {
  margin: 27px 0 0 8px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Rajdhani";
}
.swiper-first .swiper-body__price-info {
  padding: 8px 0 30px 0;
}
.swiper-first .swiper-body__price-cryptocurrency {
  font-size: 13px;
  font-weight: 700;
  font-family: "Orbitron";
}
.swiper-first .swiper-body__price-dollar {
  margin-left: 7px;
  font-size: 14px;
  font-weight: 400;
}
.swiper-first .swiper-body__button {
  margin: 15px 0 0 70px;
  padding: 2px;
  background: var(--swiper-botton-border);
}
.swiper-first .swiper-body__button-text {
  font-size: 23px;
  font-weight: 600;
  font-family: "Rajdhani";
  padding: 9px 11px 7px 13px;
  background: var(--swiper-botton-fill);
}
.swiper-first .swiper-body__button-arrow {
  margin-left: 7px;
}
.swiper-first .swiper-body__bottom-button {
  display: none;
}
.swiper-first .swiper-body__button-border {
  margin: 40px auto 0;
  padding: 5px 2px 11px 2px;
  background: var(--swiper-botton-fill);
  clip-path: polygon(17.985% 3.711%, 97.904% 3.711%, 97.904% 3.711%, 98.114% 3.772%, 98.313% 3.948%, 98.498% 4.231%, 98.667% 4.609%, 98.818% 5.075%, 98.947% 5.617%, 99.052% 6.228%, 99.13% 6.896%, 99.179% 7.612%, 99.196% 8.368%, 99.196% 69.725%, 99.196% 69.725%, 99.188% 70.253%, 99.164% 70.768%, 99.124% 71.266%, 99.069% 71.741%, 99% 72.191%, 98.918% 72.611%, 98.823% 72.997%, 98.717% 73.345%, 98.599% 73.65%, 98.472% 73.909%, 85.715% 96.374%, 85.715% 96.374%, 85.661% 96.463%, 85.607% 96.543%, 85.552% 96.614%, 85.496% 96.675%, 85.439% 96.727%, 85.382% 96.77%, 85.324% 96.804%, 85.266% 96.828%, 85.207% 96.842%, 85.148% 96.847%, 2.321% 96.847%, 2.321% 96.847%, 2.111% 96.786%, 1.913% 96.609%, 1.727% 96.327%, 1.558% 95.948%, 1.408% 95.483%, 1.279% 94.94%, 1.173% 94.33%, 1.095% 93.662%, 1.046% 92.946%, 1.029% 92.19%, 1.029% 35.13%, 1.029% 35.13%, 1.038% 34.595%, 1.063% 34.075%, 1.104% 33.573%, 1.159% 33.093%, 1.229% 32.64%, 1.313% 32.217%, 1.409% 31.83%, 1.518% 31.482%, 1.638% 31.178%, 1.768% 30.922%, 17.432% 4.16%, 17.432% 4.16%, 17.484% 4.075%, 17.537% 3.999%, 17.591% 3.932%, 17.646% 3.874%, 17.702% 3.824%, 17.757% 3.784%, 17.814% 3.752%, 17.871% 3.729%, 17.928% 3.715%, 17.985% 3.711%);
}
.swiper-first .swiper-body__bottom-button-text {
  padding: 9px 17px 12px 28px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Orbitron";
  background: var(--blue-background-color);
  clip-path: polygon(17.985% 3.711%, 97.904% 3.711%, 97.904% 3.711%, 98.114% 3.772%, 98.313% 3.948%, 98.498% 4.231%, 98.667% 4.609%, 98.818% 5.075%, 98.947% 5.617%, 99.052% 6.228%, 99.13% 6.896%, 99.179% 7.612%, 99.196% 8.368%, 99.196% 69.725%, 99.196% 69.725%, 99.188% 70.253%, 99.164% 70.768%, 99.124% 71.266%, 99.069% 71.741%, 99% 72.191%, 98.918% 72.611%, 98.823% 72.997%, 98.717% 73.345%, 98.599% 73.65%, 98.472% 73.909%, 85.715% 96.374%, 85.715% 96.374%, 85.661% 96.463%, 85.607% 96.543%, 85.552% 96.614%, 85.496% 96.675%, 85.439% 96.727%, 85.382% 96.77%, 85.324% 96.804%, 85.266% 96.828%, 85.207% 96.842%, 85.148% 96.847%, 2.321% 96.847%, 2.321% 96.847%, 2.111% 96.786%, 1.913% 96.609%, 1.727% 96.327%, 1.558% 95.948%, 1.408% 95.483%, 1.279% 94.94%, 1.173% 94.33%, 1.095% 93.662%, 1.046% 92.946%, 1.029% 92.19%, 1.029% 35.13%, 1.029% 35.13%, 1.038% 34.595%, 1.063% 34.075%, 1.104% 33.573%, 1.159% 33.093%, 1.229% 32.64%, 1.313% 32.217%, 1.409% 31.83%, 1.518% 31.482%, 1.638% 31.178%, 1.768% 30.922%, 17.432% 4.16%, 17.432% 4.16%, 17.484% 4.075%, 17.537% 3.999%, 17.591% 3.932%, 17.646% 3.874%, 17.702% 3.824%, 17.757% 3.784%, 17.814% 3.752%, 17.871% 3.729%, 17.928% 3.715%, 17.985% 3.711%);
}
.swiper-first .swiper-body__bottom-button-arrow {
  margin-left: 5px;
}

@media (max-width: 1440px) {
  .swiper-first .swiper-header__content {
    margin-top: 340px;
    width: 100%;
  }
  .swiper-first .swiper-body__content {
    width: 1340px;
  }
}
@media (max-width: 1240px) {
  .swiper-first .swiper-header__content {
    margin-top: 190px;
  }
  .swiper-first .swiper-header__link {
    display: none;
  }
  .swiper-first .swiper-body {
    /*avtor-section*/
    /*wathc-section*/
    /*price-section*/
    /*button-section*/
  }
  .swiper-first .swiper-body__content {
    margin-left: 0;
    width: 900px;
  }
  .swiper-first .swiper-body__img {
    width: 304px;
  }
  .swiper-first .swiper-body__overflow_hidden {
    width: 688px;
  }
  .swiper-first .swiper-body__info {
    padding: 24px 0 0 21px;
    width: 304px;
  }
  .swiper-first .swiper-body__avtor-title {
    font-size: 13px;
  }
  .swiper-first .swiper-body__avtor-img {
    width: 26px;
  }
  .swiper-first .swiper-body__avtor-name {
    font-size: 12px;
  }
  .swiper-first .swiper-body__avtor-verified {
    width: 11px;
  }
  .swiper-first .swiper-body__wathc-section {
    margin-top: 12px;
    right: 30px;
  }
  .swiper-first .swiper-body__wathc-title {
    font-size: 9px;
  }
  .swiper-first .swiper-body__wathc-clockface {
    font-size: 14px;
  }
  .swiper-first .swiper-body__wathc-hours {
    margin-left: 3px;
  }
  .swiper-first .swiper-body__wathc-minutes {
    margin-left: 24px;
  }
  .swiper-first .swiper-body__wathc-seconds {
    margin-left: 23px;
  }
  .swiper-first .swiper-body__wathc-clockface-text {
    font-size: 9px;
  }
  .swiper-first .swiper-body__wathc-text-mins {
    margin-left: 16px;
  }
  .swiper-first .swiper-body__wathc-text-secs {
    margin-left: 21px;
  }
  .swiper-first .swiper-body__price-title {
    margin: 30px 0 0 8px;
    font-size: 9px;
  }
  .swiper-first .swiper-body__price-img {
    width: 18px;
    height: 18px;
  }
  .swiper-first .swiper-body__price-cryptocurrency {
    font-size: 7px;
  }
  .swiper-first .swiper-body__price-dollar {
    font-size: 9px;
  }
  .swiper-first .swiper-body__button {
    margin: 15px 0 0 49px;
    padding: 2px;
  }
  .swiper-first .swiper-body__button-text {
    font-size: 14px;
    padding: 7px 8px 7px 9px;
  }
  .swiper-first .swiper-body__button-arrow {
    margin-left: 9px;
  }
  .swiper-first .swiper-body__bottom-button {
    display: flex;
  }
}
@media (max-width: 767px) {
  .swiper-first .swiper-header__content {
    margin-top: 145px;
  }
  .swiper-first .swiper-header__title {
    margin-left: 0px;
  }
  .swiper-first .swiper-body {
    /*avtor-section*/
    /*wathc-section*/
    /*price-section*/
    /*button-section*/
  }
  .swiper-first .swiper-body__content {
    width: 900px;
    margin-top: 36px;
  }
  .swiper-first .swiper-body__overflow_hidden {
    width: 100%;
  }
  .swiper-first .swiper-body__info {
    padding: 24px 0 0 16px;
    width: 304px;
  }
  .swiper-first .swiper-body__avtor-title {
    font-size: 14px;
  }
  .swiper-first .swiper-body__avtor-img {
    width: 26px;
    margin-top: 3px;
  }
  .swiper-first .swiper-body__avtor-verified {
    width: 16px;
  }
  .swiper-first .swiper-body__wathc-section {
    margin-top: 7px;
    right: 24px;
  }
  .swiper-first .swiper-body__wathc-title {
    padding-left: 0px;
  }
  .swiper-first .swiper-body__wathc-clockface {
    padding-top: 2px;
    height: 24px;
  }
  .swiper-first .swiper-body__wathc-hours {
    margin-left: 0px;
  }
  .swiper-first .swiper-body__wathc-minutes {
    margin-left: 24px;
  }
  .swiper-first .swiper-body__wathc-seconds {
    margin-left: 23px;
  }
  .swiper-first .swiper-body__wathc-text-mins {
    margin-left: 17px;
  }
  .swiper-first .swiper-body__wathc-text-secs {
    margin-left: 18px;
  }
  .swiper-first .swiper-body__price-title {
    margin: 20px 0 0 0px;
    font-size: 9px;
  }
  .swiper-first .swiper-body__price-info {
    padding: 8px 0 20px 0;
  }
  .swiper-first .swiper-body__button {
    margin: 13px 0 0 59px;
    padding: 2px;
  }
  .swiper-first .swiper-body__button-text {
    padding: 6px 8px 6px 9px;
  }
  .swiper-first .swiper-body__button-arrow {
    width: 20px;
    height: 10px;
    margin-left: 15px;
  }
  .swiper-first .swiper-body__button-border {
    margin: 37px auto 0;
  }
}
.tabs__container {
  margin: 206px 0 0 7px;
  position: relative;
}

.tabs-header__container {
  width: 781px;
  text-align: right;
}
.tabs-header__items {
  margin-top: 44px;
  gap: 41px;
}
.tabs-header__item {
  padding-top: 30px;
  margin-bottom: 38px;
  font-size: 27px;
  width: 370px;
  height: 105px;
  border: 3px solid;
  border-image-source: var(--tabs-item-gradient);
  border-image-slice: 3;
  opacity: 0.3;
  transition: background 0.5s ease, opacity 0.5s ease;
}
.tabs-header__item--active {
  background: var(--swiper-botton-fill);
  opacity: 1;
}
.tabs-header__link {
  font-size: 20px;
  display: inline-block;
}
.tabs-header__arrow {
  margin-left: 10px;
}

.tabs-body__conteiner {
  position: absolute;
  top: -47px;
  right: 47px;
}
.tabs-body__block {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.tabs-body__block--active {
  display: block;
  opacity: 1;
}
.tabs-body__img {
  width: 430px;
}
.tabs-body__active {
  background: var(--swiper-botton-fill);
  opacity: 1;
}

@media (max-width: 1440px) {
  .tabs__container {
    margin: 170px 0 0 0px;
  }
  .tabs-header__container {
    width: 100%;
  }
  .tabs-header__items {
    gap: 21px;
    width: 100%;
  }
  .tabs-header__item {
    width: 350px;
  }
  .tabs-header__item--active {
    opacity: 1;
  }
  .tabs-header__link {
    font-size: 20px;
  }
  .tabs-header__arrow {
    margin-left: 10px;
  }
  .tabs-body__conteiner {
    top: -45px;
    right: 0px;
  }
  .tabs-body__img {
    width: 400px;
  }
}
@media (max-width: 1240px) {
  .tabs__container {
    margin: 120px 0 0 0px;
  }
  .tabs-header__container {
    text-align: right;
  }
  .tabs-header__title {
    font-size: 11px;
  }
  .tabs-header__items {
    margin-top: 23px;
    gap: 18px;
  }
  .tabs-header__item {
    padding-top: 15px;
    margin-bottom: 20px;
    font-size: 15px;
    width: 170px;
    height: 60px;
  }
  .tabs-header__link {
    font-size: 8px;
    display: inline-block;
  }
  .tabs-header__arrow {
    margin-left: 7px;
    width: 22px;
    height: 7;
  }
  .tabs-body__conteiner {
    top: -50px;
    position: absolute;
  }
  .tabs-body__img {
    width: 280px;
  }
}
@media (max-width: 767px) {
  .tabs__container {
    margin: 107px 0 0 0px;
    position: relative;
  }
  .tabs-header {
    margin: 0 auto;
  }
  .tabs-header__container {
    width: 100%;
    text-align: right;
  }
  .tabs-header__items {
    margin-top: 19px;
    gap: 18px;
  }
  .tabs-header__item {
    padding-top: 10px;
    margin-bottom: 18px;
    font-size: 11px;
    width: 153px;
    height: 42px;
  }
  .tabs-header__item-magin {
    margin-bottom: 5px;
  }
  .tabs-header__link {
    font-size: 8px;
    display: inline-block;
  }
  .tabs-header__arrow {
    margin-left: 4px;
  }
  .tabs-body {
    margin: 0 auto;
  }
  .tabs-body__conteiner {
    margin: 0 auto;
    position: static;
  }
  .tabs-body__img {
    padding-left: 10px;
    max-width: 197px;
  }
}
.swiper-seconds .swiper-header__content {
  margin-top: 239px;
  width: 1380px;
}
.swiper-seconds .swiper-header__title {
  margin-left: 7px;
}
.swiper-seconds .swiper-header__link {
  font-size: 27px;
}
.swiper-seconds .swiper-header__arrow {
  margin: 0 0 5px 5px;
}
.swiper-seconds .swiper-body {
  /*bottom-button*/
}
.swiper-seconds .swiper-body__block-overflow_hidden {
  overflow: hidden;
}
.swiper-seconds .swiper-body__block {
  margin: 43px 0 0 8px;
}
.swiper-seconds .swiper-body__item {
  width: 438px;
  position: relative;
  background: var(--main-information-table-swiper-fill);
  border: var(--main-informatipn-table-swiper-border) 3px solid;
  backdrop-filter: blur(40px);
}
.swiper-seconds .swiper-body__img-background {
  position: absolute;
  z-index: -1;
}
.swiper-seconds .swiper-body__info {
  width: 100%;
}
.swiper-seconds .swiper-body__img-artist {
  display: flex;
  margin: 102px auto 0;
  width: 163px;
  border: 4px solid var(--swiper-seconds-img-artist);
  border-radius: 190px;
}
.swiper-seconds .swiper-body__title {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Rajdhani";
}
.swiper-seconds .swiper-body__artist {
  margin: 2px 0 0 167px;
}
.swiper-seconds .swiper-body__artist-teg {
  font-size: 20px;
  font-weight: 400;
}
.swiper-seconds .swiper-body__artist-verified {
  margin-left: 5px;
}
.swiper-seconds .swiper-body__statistic {
  margin-top: 25px;
}
.swiper-seconds .swiper-body__numer {
  font-size: 32px;
  font-weight: 600;
}
.swiper-seconds .swiper-body__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 0.3;
}
.swiper-seconds .swiper-body__folowers {
  margin-left: 38px;
}
.swiper-seconds .swiper-body__following {
  margin-left: 65px;
}
.swiper-seconds .swiper-body__artworks {
  margin-left: 65px;
}
.swiper-seconds .swiper-body__button-section {
  margin-top: 51px;
  padding-bottom: 34px;
}
.swiper-seconds .swiper-body__button {
  padding: 11px 92px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Rajdhani";
  background: var(--swiper-botton-fill);
  border: solid 2px;
  border-image-source: var(--swiper-botton-border);
  border-image-slice: 1;
}
.swiper-seconds .swiper-body__bottom-button {
  display: none;
}
.swiper-seconds .swiper-body__button-border {
  margin: 40px auto 0;
  padding: 5px 2px 11px 2px;
  background: var(--swiper-botton-fill);
  clip-path: polygon(17.985% 3.711%, 97.904% 3.711%, 97.904% 3.711%, 98.114% 3.772%, 98.313% 3.948%, 98.498% 4.231%, 98.667% 4.609%, 98.818% 5.075%, 98.947% 5.617%, 99.052% 6.228%, 99.13% 6.896%, 99.179% 7.612%, 99.196% 8.368%, 99.196% 69.725%, 99.196% 69.725%, 99.188% 70.253%, 99.164% 70.768%, 99.124% 71.266%, 99.069% 71.741%, 99% 72.191%, 98.918% 72.611%, 98.823% 72.997%, 98.717% 73.345%, 98.599% 73.65%, 98.472% 73.909%, 85.715% 96.374%, 85.715% 96.374%, 85.661% 96.463%, 85.607% 96.543%, 85.552% 96.614%, 85.496% 96.675%, 85.439% 96.727%, 85.382% 96.77%, 85.324% 96.804%, 85.266% 96.828%, 85.207% 96.842%, 85.148% 96.847%, 2.321% 96.847%, 2.321% 96.847%, 2.111% 96.786%, 1.913% 96.609%, 1.727% 96.327%, 1.558% 95.948%, 1.408% 95.483%, 1.279% 94.94%, 1.173% 94.33%, 1.095% 93.662%, 1.046% 92.946%, 1.029% 92.19%, 1.029% 35.13%, 1.029% 35.13%, 1.038% 34.595%, 1.063% 34.075%, 1.104% 33.573%, 1.159% 33.093%, 1.229% 32.64%, 1.313% 32.217%, 1.409% 31.83%, 1.518% 31.482%, 1.638% 31.178%, 1.768% 30.922%, 17.432% 4.16%, 17.432% 4.16%, 17.484% 4.075%, 17.537% 3.999%, 17.591% 3.932%, 17.646% 3.874%, 17.702% 3.824%, 17.757% 3.784%, 17.814% 3.752%, 17.871% 3.729%, 17.928% 3.715%, 17.985% 3.711%);
}
.swiper-seconds .swiper-body__bottom-button-text {
  padding: 9px 17px 12px 28px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Orbitron";
  background: var(--blue-background-color);
  clip-path: polygon(17.985% 3.711%, 97.904% 3.711%, 97.904% 3.711%, 98.114% 3.772%, 98.313% 3.948%, 98.498% 4.231%, 98.667% 4.609%, 98.818% 5.075%, 98.947% 5.617%, 99.052% 6.228%, 99.13% 6.896%, 99.179% 7.612%, 99.196% 8.368%, 99.196% 69.725%, 99.196% 69.725%, 99.188% 70.253%, 99.164% 70.768%, 99.124% 71.266%, 99.069% 71.741%, 99% 72.191%, 98.918% 72.611%, 98.823% 72.997%, 98.717% 73.345%, 98.599% 73.65%, 98.472% 73.909%, 85.715% 96.374%, 85.715% 96.374%, 85.661% 96.463%, 85.607% 96.543%, 85.552% 96.614%, 85.496% 96.675%, 85.439% 96.727%, 85.382% 96.77%, 85.324% 96.804%, 85.266% 96.828%, 85.207% 96.842%, 85.148% 96.847%, 2.321% 96.847%, 2.321% 96.847%, 2.111% 96.786%, 1.913% 96.609%, 1.727% 96.327%, 1.558% 95.948%, 1.408% 95.483%, 1.279% 94.94%, 1.173% 94.33%, 1.095% 93.662%, 1.046% 92.946%, 1.029% 92.19%, 1.029% 35.13%, 1.029% 35.13%, 1.038% 34.595%, 1.063% 34.075%, 1.104% 33.573%, 1.159% 33.093%, 1.229% 32.64%, 1.313% 32.217%, 1.409% 31.83%, 1.518% 31.482%, 1.638% 31.178%, 1.768% 30.922%, 17.432% 4.16%, 17.432% 4.16%, 17.484% 4.075%, 17.537% 3.999%, 17.591% 3.932%, 17.646% 3.874%, 17.702% 3.824%, 17.757% 3.784%, 17.814% 3.752%, 17.871% 3.729%, 17.928% 3.715%, 17.985% 3.711%);
}
.swiper-seconds .swiper-body__bottom-button-arrow {
  margin-left: 5px;
}

@media (max-width: 1440px) {
  .swiper-seconds .swiper-header__content {
    margin-top: 192px;
    width: 100%;
  }
  .swiper-seconds .swiper-body__block {
    width: 1385px;
  }
}
@media (max-width: 1240px) {
  .swiper-seconds .swiper-header__content {
    margin-top: 110px;
  }
  .swiper-seconds .swiper-header__link {
    display: none;
  }
  .swiper-seconds .swiper-header__title {
    margin-left: 0;
    font-size: 18px;
  }
  .swiper-seconds .swiper-body__block {
    margin-left: 0;
    width: 900px;
  }
  .swiper-seconds .swiper-body__img-background {
    width: 100%;
  }
  .swiper-seconds .swiper-body__item {
    width: 303px;
  }
  .swiper-seconds .swiper-body__img-artist {
    margin: 70px auto 0;
    width: 112px;
    border: 2px solid var(--swiper-seconds-img-artist);
  }
  .swiper-seconds .swiper-body__title {
    margin-top: 11px;
    font-size: 17px;
  }
  .swiper-seconds .swiper-body__artist {
    margin: 2px 0 0 115px;
  }
  .swiper-seconds .swiper-body__artist-teg {
    font-size: 14px;
  }
  .swiper-seconds .swiper-body__artist-verified {
    width: 10px;
  }
  .swiper-seconds .swiper-body__statistic {
    margin-top: 10px;
  }
  .swiper-seconds .swiper-body__numer {
    font-size: 22px;
  }
  .swiper-seconds .swiper-body__name {
    font-size: 14px;
  }
  .swiper-seconds .swiper-body__folowers {
    margin-left: 33px;
  }
  .swiper-seconds .swiper-body__following {
    margin-left: 40px;
  }
  .swiper-seconds .swiper-body__artworks {
    margin-left: 40px;
  }
  .swiper-seconds .swiper-body__button-section {
    margin-top: 30px;
    padding-bottom: 25px;
  }
  .swiper-seconds .swiper-body__button {
    padding: 8px 51px;
    font-size: 14px;
  }
  .swiper-seconds .swiper-body__bottom-button {
    display: flex;
  }
}
@media (max-width: 767px) {
  .swiper-seconds .swiper-body__block {
    margin: 32px 0 0 0px;
  }
  .swiper-seconds .swiper-body__title {
    margin-top: 8px;
  }
  .swiper-seconds .swiper-body__artist {
    margin: 1px 0 0 115px;
  }
  .swiper-seconds .swiper-body__statistic {
    margin-top: 11px;
  }
  .swiper-seconds .swiper-body__numer {
    line-height: 200%;
  }
  .swiper-seconds .swiper-body__name {
    font-size: 14px;
  }
  .swiper-seconds .swiper-body__folowers {
    margin-left: 26px;
  }
  .swiper-seconds .swiper-body__following {
    margin-left: 45px;
  }
  .swiper-seconds .swiper-body__artworks {
    margin-left: 45px;
  }
  .swiper-seconds .swiper-body__button-section {
    margin-top: 30px;
  }
  .swiper-seconds .swiper-body__button {
    padding: 7px 64px;
  }
  .swiper-seconds .swiper-body__button-border {
    margin: 40px auto 0;
  }
}
.title {
  font-size: 26px;
  font-weight: 700;
}

@media (max-width: 1240px) {
  .title {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */