@import "./media_breackpoints";
@import "./blocks/swiper-first";
@import "./blocks/tabs";
@import "./blocks/swiper-seconds";

.title {
    font-size: 26px;
    font-weight: 700;
}

@include respond-below(md) {
    .title {
        font-size: 16px;
    }
}