.header {
    &__section {
        margin: 49px 0 0 8px;
    }

    &__items {
        margin-left: 229px;
        gap: 66px;
    }

    &__mobile-logo {
        width: 130px;
    }

    &__item {
        font-size: 20px;
        font-weight: 700;
        font-family: 'Orbitron';
        opacity: 0.6;
        transition: all 0.5s ease;
    }

    &__items-svg {
        margin-left: 450px;
        gap: 41px;
    }

    &__item:hover {
        opacity: 1;
        text-shadow:
            -5px -5px 23px $boxShadowVioletActive, 
            5px -5px 25px $boxShadowVioletActive,  
            -5px 5px 25px $boxShadowVioletActive,  
            5px 5px 25px $boxShadowVioletActive; 
    }
}

@include respond-below(xl) {
    .header {
        &__section {
            justify-content: space-between;
        }
    
        &__logo {
            margin-left: 0px;
        }

        &__items {
            margin-left: 0px;
        }
    
        &__items-svg {
            margin-left: 0px;
            gap: 40px;
        }
    }
}

@include respond-below(md) {
    .header { 
        &__section {
            width: 660px;
        }

        &__section {
            margin: 42px 0 0 0px;
        }
    }
}

@include respond-below(sm) {
    .header{
        &__section {
            margin: 22px 0 0 0;
            width: 100%;
        }

        &__mobile-logo {
            width: 112px;
        }
    }
}