.subscribe {
    &__content {
        margin: 200px 0 0 10px;
    }

    &__img-container {
        margin-top: 88px;
        overflow: hidden;
        height: 290px;
        width: 697px;
        border-radius: 4px;
    }

    &__img {
        width: 699px; 
        height: 469px;
    }

    &__info{
        margin: 120px 0 0 78px;
    }
    
    &__title {
        font-size: 40px;
        font-weight: 700;
    }

    &__text {
        width: 490px;
        margin-top: 28px;
        font-size: 20px;
        font-weight: 400;
        line-height: 177%;
        font-family: 'Inter';
    }

    &__email-form {
        margin-top: 50px;
    }

    &__input {
        padding: 14px 54px 14px 18px;
        color: $textGray;
        font-size: 15px;
        font-family: 'Inter';
        border-radius: 6px 0 0 6px;
    }

    &__button-border {
        margin-left: 5px;
        padding: 2px;
        border-radius:  0 6px 6px 0;
        background: $tabsItemGradient;
    }

    &__button {
        padding: 12px 35px;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Inter';
        background: $swiperBottonFill;
        border-radius:  0 6px 6px 0;
        border: 0;
        box-shadow: 0px 5px 117px 0px $boxShadowViolet;
    }
}

@include respond-below(xl) {
    .subscribe {
        &__info{
            margin: 110px 0 0 40px;
        }
    }
}

@include respond-below(md) {
    .subscribe {
        &__content {
            margin: 108px 0 0 10px;
        }
    
        &__img-container {
            margin-top: 88px;
            overflow: hidden;
            height: 290px;
            border-radius: 4px;
        }
    
        &__info{
            margin: 150px 0 0 30px;
        }
        
        &__title {
            font-size: 26px;
        }
    
        &__text {
            margin-top: 15px;
            width: 316px;
            font-size: 13px;
        }
    
        &__email-form {
            margin-top: 33px;
        }
    
        &__input {
            padding: 10px 33px 10px 15px;
            font-size: 10px;
            border-radius: 4px 0 0 4px;
        }
    
        &__button-border {
            margin-left: 1px;
            padding: 2px;
            border-radius: 0 4px 4px 0;
        }
    
        &__button {
            padding: 8px 22px;
            font-size: 10px;
            border-radius: 0 4px 4px 0;
        }
    }
}

@include respond-below(sm) {
    .subscribe {        
        &__content {
            margin: 0;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    
        &__img-container {
            margin: 110px auto 0;
            height: 380px;
            width: 326px;
            order: 2;
        }
    
        &__info{
            margin: 188px auto 0 ;
        }

        &__text {
            margin-top: 15px;
            width: 95%;
            font-size: 13px;
        }

        &__input {
            width: 56%;
        }
    }
}