.swiper-seconds {
    .swiper-header{
        &__content {
            margin-top: 239px;
            width: 1380px;    
        }
    
        &__title {
            margin-left: 7px;
        }
    
        &__link {
            font-size: 27px;
        }
    
        &__arrow {
            margin: 0 0 5px 5px;
        }

        &__blur-element-1 {
            position: absolute;
            width:1px;
            top: 350%;
            left: 60%;
            backdrop-filter: blur(30px);
            box-shadow: 0px 0px 117px 45px $boxShadowPinkLite;
            z-index: -2;
        }
    }
    
    .swiper-body {
        &__block-overflow-hidden{
            padding-left: 8px;
            width: 1395px;
            margin: 43px auto 0;
            overflow: hidden;
        }
        
        &__item {
            width: 438px;
            position: relative;
            background: $mainInfoTableFill;
            border: 3px solid $MainInfoBorder;
            backdrop-filter: blur(40px);
        }

        &__img-background {
            position: absolute;
            z-index: -1;
        }
    
        &__info {
            width: 100%;
        }
    
        &__img-artist {
            display: flex;
            margin: 102px auto 0;
            width: 163px;
            border: 4px solid $sellersText;
            border-radius: 190px;
        }
    
        &__title {
            margin-top: 8px;
            font-size: 24px;
            font-weight: 500;
            font-family: 'Rajdhani';
        }
    
        &__artist {
            margin: 2px 0 0 167px;
        }
    
        &__artist-teg {
            font-size: 20px;
            font-weight: 400;
        }
    
        &__artist-verified {
            margin-left: 5px;
        }
    
        &__statistic {
            margin-top: 25px;
        }
    
        &__numer {
            font-size: 32px;
            font-weight: 600;
        }
    
        &__name {
            font-size: 20px;
            font-weight: 500;
            line-height: 0.3;
        }
        &__folowers {
            margin-left: 38px;
        }

        &__following {
            margin-left: 65px;
        }

        &__artworks {
            margin-left: 65px;
        }
        
        &__button-section {
            margin: 51px auto 34px; 
        }

        &__button-outline {
            padding: 11px 2px;
            background: $tabsItemGradient;
            box-shadow: 0px 5px 117px 0px $boxShadowViolet;
            transition: box-shadow 0.5s ease-in-out;
        }

        &__button-outline:hover  {
            box-shadow: 0px 15px 137px 0px $boxShadowVioletActive;
        }
    
        &__button {
            padding: 11px 92px;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Rajdhani';
            background: $swiperBottonFill;
        }
    }   
}

@include respond-below(xl) {
    .swiper-seconds {
        .swiper-header {
            &__content {
                margin-top: 192px;
                width: 100%;
            }

            &__blur-element-1 {
                top: 370%;
                left: 70%;
            }
        }
        .swiper-body {
            &__block {
                width: 1340px;
            }

            &__block-overflow-hidden {
                width: 1200px;
            }
        }
    }
}

@include respond-below(md) {
    .swiper-seconds {
        .swiper-header {
            &__content {
                margin-top: 110px;
            }

            &__link  {
                display: none;
            }

            &__title {
                margin-left: 0;
                font-size: 18px;
            }

            &__blur-element-1 {
                top: 250%;
                left: 70%;
            }
        }
        .swiper-body {
            &__block {
                width: 900px;
            }

            &__block-overflow-hidden{
                width: 688px;
            }

            &__img-background {
                width: 100%;
            }

            &__item {
                width: 303px;
            } 
        
            &__img-artist {
                margin: 70px auto 0;
                width: 112px;
                border: 2px solid $sellersText;
            }
        
            &__title {
                margin-top: 11px;
                font-size: 17px;
            }
        
            &__artist {
                margin: 2px 0 0 115px;
            }
        
            &__artist-teg {
                font-size: 14px;
            }
        
            &__artist-verified {
                width: 10px;
            }
        
            &__statistic {
                margin-top: 10px;
            }
        
            &__numer {
                font-size: 22px;
            }
        
            &__name {
                font-size: 14px;
            }

            &__folowers {
                margin-left: 33px;
            }

            &__following {
                margin-left: 40px;
            }

            &__artworks {
                margin-left: 40px;
            }

            &__button-outline {
                padding: 5px 2px 8px;
            }
            
            &__button-section {
                margin: 30px auto 25px; 
            }
        
            &__button {
                padding: 8px 51px;
                font-size: 14px;
            }
    
        }
    }
}

@include respond-below(sm) {
    .swiper-seconds {
        .swiper-body {
            &__block-overflow-hidden{
                margin-top: 0;
                margin-left: 4%;
                padding-left: 15px;
                width: 96%;
            }

            &__block {
                margin: 32px 0 0 0px;
                width: 960px;
            }
        
            &__title {
                margin-top: 8px;
            }
        
            &__artist {
                margin: 1px 0 0 115px;
            }
        
            &__statistic {
                margin-top: 11px;
            }
        
            &__numer {
                line-height: 200%;
            }
        
            &__name {
                font-size: 14px;
            }

            &__folowers {
                margin-left: 26px;
            }

            &__following {
                margin-left: 45px;
            }

            &__artworks {
                margin-left: 45px;
            }
            
            &__button-section {
                margin-top: 30px;
            }

            &__button-outline {
                padding: 4px 2px 7px;
            }
        
            &__button {
                padding: 7px 64px;
            }

            &__button-border {
                margin: 40px auto 0;
            }
        }
    }
}