
.swiper-first {
    .swiper-header {
        &__content {
            margin-top: 210px;
            width: 1380px;
        }
    
        &__title {
            margin-left: 7px;
        }
    
        &__link {
            font-size: 27px;
            font-weight: 700;
        }
    
        &__arrow {
            margin: 0 0 5px 5px;
        }

        &__blur-element-1 {
            position: absolute;
            width:1px;
            top: 1780px;
            left: 1300px;
            backdrop-filter: blur(30px);
            box-shadow: 0px 5px 187px 60px $boxShadowPink;
            z-index: -2;
        }
    
        &__blur-element-2 {
            position: absolute;
            width:1px;
            top: 1720px;
            left: 270px;
            backdrop-filter: blur(30px);
            box-shadow: 0px 0px 117px 45px $boxShadowPinkLite;
            z-index: -2;
        }
    }

    .swiper-body {

        &__overflow-hidden {
            // position: relative;
            padding-left: 8px;
            width: 1395px;
            margin: 40px auto 0;
            overflow: hidden;
            z-index: -1;
        }
      
        &__info {
            position: relative;
            padding: 34px 0 0 20px;
            width: 436px;
            background: $mainInfoTableFill;
            border: 3px solid $MainInfoBorder;
            backdrop-filter: blur(40px);
        }

        /*avtor-section*/

        &__avtor-section {
            margin-left: 5px; 
        }

        &__avtor-title {
            font-size: 23px;
            font-family: 'Rajdhani';
            line-height: 200%;
            font-weight: 700;
        }

        &__avtor-img {
            margin: 4px 0 0 0;
        }

        &__avtor-name {
            margin-left: 3px;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Rajdhani';
        }

        &__avtor-verified {
            margin-left: 8px;
        }

        /*wathc-section*/
        
        &__wathc-section {
            margin-top: 12px;
            position: absolute;
            right: 30px;
        }

        &__wathc-title {
            padding-left: 6px;
            font-size: 14px;
            font-weight: 500;                
        }

        &__wathc-clockface {
            padding-top: 8px;
            height: 33px;
            font-size: 23px;
            font-weight: 600;
            font-family: 'Rajdhani';           
        }

        &__wathc-hours {
            margin-left: 3px;
        }
        
        &__wathc-minutes {
            margin-left: 33px;
        }

        &__wathc-seconds {
            margin-left: 38px;
        }

        &__wathc-clockface-text {
            font-size: 14px;
            font-weight: 600;
            font-family: 'Rajdhani';        
        }

        &__wathc-text-mins {
            margin-left: 26px;
        }

        &__wathc-text-secs {
            margin-left: 32px;
        }

        /*price-section*/

        &__price-title {
            margin: 27px 0 0 8px;
            font-size: 14px;
            font-weight: 600;
            font-family: 'Rajdhani';
        }

        &__price-info {
            padding: 8px 0 30px 0;
        }

        &__price-cryptocurrency {
            font-size: 13px;
            font-weight: 700;
            font-family: 'Orbitron';
        }

        &__price-dollar {
            margin-left: 7px;
            font-size: 14px;
            font-weight: 400;
        }

        /*button-section*/

        &__button {
            margin: 15px 0 0 70px;
        }

        &__button-border {
            padding: 2px;
            background: $tabsItemGradient;
            box-shadow: 0px 6px 50px 0px $boxShadowViolet;
            transition: box-shadow 0.5s ease-in-out;            
        }

        &__button-border:hover  {
            box-shadow: 0px 6px 70px 0px $boxShadowVioletActive;
        }

        &__button-text {
            font-size: 23px;
            font-weight: 600;
            font-family: 'Rajdhani';
            padding: 9px 11px 7px 13px;
            background: $swiperBottonFill;
        }
        &__button-arrow {
            margin-left: 7px;
        }
    }   
}

@include respond-below(xl) {
    .swiper-first {
        .swiper-header {
            &__content {
                margin-top: 200px;
                width: 100%;
            }
        }
        .swiper-body {
            &__content {
                width: 1340px;
            }

            &__overflow-hidden {
                width: 1200px;
            }
        }
    }
}

@include respond-below(md) {
    .swiper-first {
        .swiper-header {
            &__content {
                margin-top: 120px;
            }

            &__link {
                display: none;
            }
        }
        .swiper-body {
            &__content {
                width: 900px;
            }

            &__img {
                width: 304px;
            }

            &__overflow-hidden {
                width: 688px;
            }

            &__info {
                padding: 24px 0 0 21px;
                width: 304px;
            }
    
            /*avtor-section*/
    
            &__avtor-title {
                font-size: 13px;
            }
    
            &__avtor-img {
                width: 26px;
            }
    
            &__avtor-name {
                font-size: 12px;
            }
    
            &__avtor-verified {
                width: 11px;
            }
    
            /*wathc-section*/
            
            &__wathc-section {
                margin-top: 12px;
                right: 30px;
            }
    
            &__wathc-title {
                font-size: 9px;                
            }
    
            &__wathc-clockface {
                font-size: 14px;           
            }

            &__wathc-hours {
                margin-left: 3px;
            }
            
            &__wathc-minutes {
                margin-left: 24px;
            }
    
            &__wathc-seconds {
                margin-left: 23px;
            }
    
            &__wathc-clockface-text {
                font-size: 9px;       
            }

            &__wathc-text-mins {
                margin-left: 16px;
            }
    
            &__wathc-text-secs {
                margin-left: 21px;
            }
    
            /*price-section*/
    
            &__price-title {
                margin: 30px 0 0 8px;
                font-size: 9px;
            }

            &__price-img {
               width: 18px;
               height: 18px; 
            }
    
            &__price-cryptocurrency {
                font-size: 7px;
            }
    
            &__price-dollar {
                font-size: 9px;
            }
    
            /*button-section*/
    
            &__button {
                margin: 15px 0 0 49px;
                padding: 2px;   
            }
    
            &__button-text {
                font-size: 14px;
                padding: 7px 8px 7px 9px;
            }

            &__button-arrow {
                margin-left: 9px;
            }
        }
    }
}

@include respond-below(sm) {
    .swiper-first {
        .swiper-header {
            &__content {
                margin-top: 235px;
            }
            
            &__title {
                margin-left: 0px;
            }
        }
        .swiper-body {
            &__content {
                width: 930px;
                margin-top: 36px;
            }

            &__overflow-hidden {
                margin-top: 0;
                margin-left: 4%;
                padding-left: 15px;
                width: 96%;
            }

            &__info {
                padding: 24px 0 0 16px;
                width: 304px;
            }
    
            /*avtor-section*/
    
            &__avtor-title {
                font-size: 14px;
            }
    
            &__avtor-img {
                width: 26px;
                margin-top: 3px;
            }
    
            &__avtor-verified {
                width: 16px;
            }
    
            /*wathc-section*/
            
            &__wathc-section {
                margin-top: 7px;
                right: 24px;
            }

            &__wathc-title {
                padding-left: 0px;                
            }
    
            &__wathc-clockface {
                padding-top: 2px;
                height: 24px;                      
            }

            &__wathc-hours {
                margin-left: 0px;
            }
            
            &__wathc-minutes {
                margin-left: 24px;
            }
    
            &__wathc-seconds {
                margin-left: 23px;
            }

            &__wathc-text-mins {
                margin-left: 17px;
            }
    
            &__wathc-text-secs {
                margin-left: 18px;
            }
    
            /*price-section*/
    
            &__price-title {
                margin: 20px 0 0 0px;
                font-size: 9px;
            }

            &__price-info {
                padding: 8px 0 20px 0;
            }
    
            /*button-section*/
    
            &__button {
                margin: 13px 0 0 59px;
                padding: 2px;   
            }
    
            &__button-text {
                padding: 6px 8px 6px 9px;
            }

            &__button-arrow {
                width: 20px;
                height: 10px;
                margin-left: 15px;
            }

            &__button-border {
                margin: 37px auto 0;
            }
        }
    }
}
