.tabs {

    &__container {
        margin: 206px 0 0 7px;
        position: relative;
    }
}

.tabs-header {
    width: 790px;

    &__items {
        margin-top: 44px;
        gap: 41px;
    }

    &__item {
        padding-top: 30px;
        margin-bottom: 38px;
        width: 370px;
        height: 105px;
        border: 3px solid;
        border-image-source: var(--tabs-item-gradient);
        border-image-slice: 3;
        opacity: 0.3;
        transition: background 0.5s ease, opacity 0.5s ease;
    }

    &__item--active {
        background: var(--swiper-botton-fill);
        opacity: 1;
    }

    &__link {
        font-size: 20px;
        margin-left: 620px;
    }

    &__arrow {
        margin-left: 10px;
    }
}


.tabs-body {

    &__conteiner{
        position: absolute;
        top: -47px;
        right: 47px;
    }

    &__block {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    &__block--active {
        display: block;
        opacity: 1;
    }

    &__img {
        width: 430px;
        height: 700;
    }

    &__active {
        background: var(--swiper-botton-fill);
        opacity: 1;
    }
}
